html, body {
    background-color: $background-ltds;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: $font-family-base;
    color: $on-background;
    font-weight: 300;
}



.loginbox {
    width: 30rem;
    margin: 8rem auto 5rem auto;
    padding: 0;
    border: 0;
    background-color: transparent;
    &__content {
        background-color: $white;
        margin: 0;
        padding: 2rem;
        border-radius: 0.5rem;
        border: 0.25rem solid #79adff;
    }
    &__header {
        margin: 0;
        padding: 0;
        border: 0;
    }
    &__title {
        margin-top: 6.5rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    &__avatar {
        width: 6rem;
        display: block;
        margin: -6.5rem auto;
    }
}


/* 
Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
 */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .section--hero {
        height: 35rem;
    }
    .hero-text h1 {
        font-weight: 600;
        font-size: 2.5rem;
    }
    .hero-text p {
        font-size: 1.625rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .feature {
        display: block;
        padding: 4rem 0;
    }
    .feature p {
        font-size: 1.2rem;
    }
    .section--hero {
        height: 42rem;
    }
    .hero-text h1 {
        font-size: 3.25rem;
    }
    .hero-text p {
        font-weight: 400;
        font-size: 1.625rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}



