html, body {
    background-color: $background-ltds;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: $font-family-base;
    color: $on-background;
    font-weight: 300;
}



.loginbox {
    width: 30rem;
    margin: 8rem auto 5rem auto;
    padding: 0;
    border: 0;
    background-color: transparent;
    &__content {
        background-color: $white;
        margin: 0;
        padding: 2rem;
        border-radius: 0.5rem;
        border: 0;
    }
    &__header {
        margin: 0;
        padding: 0;
        border: 0;
    }
    &__title {
        margin-top: 4rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    &__avatar {
        width: 4rem;
        display: block;
        margin: -4rem auto;
    }
}


/* 
Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
 */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .feature {
        display: block;
        padding: 4rem 0;
    }
    .feature p {
        font-size: 1.2rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}



