.DS_Store
._.DS_Store
._*
*~
*.pyc
ve
.svn
\#*
local_settings.py
local_docker_settings.py
.project
.pydevproject
.settings
media/CACHE
media/build
node_modules
uploads
reports
cypress/videos
cypress/screenshots/
cypress/fixtures/
