{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Activity: {{ activity.title }}
{% endblock %}

{% block content %}
<div id="activity-map-container" data-maptoken="{{ token }}" data-activitypk="{{ activity.pk }}" data-projectpk="{{ project.pk }}"></div>
{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}build/activity.js"></script>
{% endblock %}

{% block css %}
<link href="{{STATIC_URL}}build/activity.css" rel="stylesheet">
{% endblock %}

{# Clear the footer blocks #}
{% block footer%}{% endblock %}
