{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Assignment: {{ assignment.title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Assignment: {{ assignment.title }}</h1>
        <p>{{ assignment.instructions }}</p>
        {% if is_faculty %}
        <a class="btn btn-primary" data-cy="edit-assignment-button" href="{% url 'assignment-update' project.course.pk project.pk %}">Edit Assignment</a>
            {% if assignment.responses %}
            <a class="btn btn-danger" data-cy="delete-assignment-button" href="{% url 'assignment-delete' project.course.pk project.pk %}">Delete Assignment</a>
            {% else %}
            <p>There are {{ assignment.responses.count }} responses to this assignemt. Assignments can not be deleted if it has responses.</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
