{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Create Project
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Delete Assignment: {{ object.title }}</h1>
    </div>
</div>
{% if object.responses.all.exists %}
<div class="row">
    <div class="col-12">
        <p>Responses already exist for this assignment. Please contact an administrator for help deleting this assignment.</p>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-12">
        <p>Are you sure that you want to delete this assignment?</p>
    </div>
    <div class="col-12">
        <form method="post">
            {% csrf_token %}
            <a class="btn btn-primary" href="{% url 'assignment-detail' object.project.course.pk object.project.pk %}">Cancel</a>
            <input type="submit" data-cy="delete-assignment-button" class="btn btn-danger" value="Delete">
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
