{% extends 'base.html' %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
{% if is_faculty %}
<ul>
    <li><a href="{% url 'course-edit-view' object.pk %}">Edit Course</a></li>
    <li><a href="{% url 'course-roster-view' object.pk %}">Edit Course Roster</a></li>
</ul>
{% endif %}

<div class="row">
    <div class="col-12">
        <div class="d-flex">
            <h2>Course Projects</h2>
            <div class="ml-auto">
                {% if is_faculty %}
                <a href="{% url 'course-project-create' object.pk %}" class="btn btn-sm btn-primary" data-cy="project-create-button">Create New Project</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% if projects %}
        <table class="table table-hover course-roster__table tablesorter" data-cy="sandbox-course-table">
            <thead>
                <tr>
                    <th scope="col">Project Title</th>
                    <th scope="col" class="sorter-false">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td><a href="{% url 'course-project-detail' course.pk project.pk %}">{{ project.title }}</a></td>
                    <td>
                        {% if user in object.faculty %}
                        <a class="btn btn-sm btn-primary" href="{% url 'course-project-edit' course.pk project.pk %}">Edit</a>
                            {% if project.assignment %}
                            <a class="btn btn-sm btn-primary" data-cy="manage-assignment-button" href="{% url 'assignment-detail' course.pk project.pk %}">Manage Assignment</a>
                            {% else %}
                            <a class="btn btn-sm btn-primary" data-cy="create-assignment-button" href="{% url 'assignment-create' course.pk project.pk %}">Create Assignment</a>
                            {% endif %}
                        {% else %}
                            {% if project.assignment %}
                            <a class="btn btn-sm btn-primary" data-cy="view-assignment-button" href="{% url 'assignment-detail' course.pk project.pk %}">View Assignment</a>
                            {% endif %}
                        {% endif %}
                        <a class="btn btn-sm btn-primary" href="{% url 'course-project-detail' course.pk project.pk %}">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        {% if is_faculty %}
        <p>Create a project to get started.</p>
        {% else %}
        <p>No projects have been created for this course yet.</p>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
