{% extends 'base.html' %}
{% load is_course_faculty %}

{% block content %}
<h1>{{ object.title }} Course Roster</h1>
<a href="/course/{{ object.pk }}/">Back to View Course</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for member in object.members %}
        {% is_course_faculty member as is_faculty %}
        <tr>
            <td>{{ member.first_name }}</td>
            <td>{{ member.last_name }}</td>
            <td>{{ member.username }}</td>
            <td>
                {% if is_faculty %}Faculty{% else %}Student{% endif %}
            </td>
            <td>
                <form action="{% url 'course-detail-view' object.pk %}roster/{% if is_faculty %}demote{% else %}promote{% endif %}/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" id="user_id" value="{{ member.id }}">
                    <button type="submit" class="btn btn-primary btn-sm">
                        {% if is_faculty %}Demote{% else %}Promote{% endif %}
                    </button>
                </form>
                <form action="{% url 'course-detail-view' object.pk %}roster/remove/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" id="user_id" value="{{ member.id }}">
                    <button type="submit" class="btn btn-danger btn-sm">
                        Remove 
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
