{% extends 'base.html' %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<div class="row nav-dashboard">
    <div class="col">
        <h1 class="nav-dashboard__h1">
            Workspaces &gt; {{ object.title }}
        </h1>
    </div>
    <div class="col">
        <div class="d-flex justify-content-end">
            {% if is_faculty %}
            <div class="lt-menu-overflow btn-group">
                <button type="button" class="lt-button mr-1 lt-button--transparent dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                    <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-cog.svg" class="active" /></span>
                    <span class='lt-button__text'>Manage</span>
                </button>
                <div class="lt-menu lt-menu-overflow--bootstrap dropdown-menu">
                    <ul class="lt-list">
                        <li class="lt-list-item">
                            <a href="{% url 'course-edit-view' object.pk %}" class="d-flex align-items-center justify-content-start lt-list-item__link">
                            <span class='lt-icons lt-list-item__icon' aria-hidden="true"><img src="{{STATIC_URL}}img/icon-pencil.svg" class="active" /></span>
                            <span class="lt-list-item__primary-text">Edit Workspace</span>
                            </a>
                        </li>
                        <li class="lt-list-item">
                            <a href="{% url 'course-roster-view' object.pk %}" class="d-flex align-items-center justify-content-start lt-list-item__link">
                            <span class='lt-icons lt-list-item__icon' aria-hidden="true"><img src="{{STATIC_URL}}img/icon-roster.svg" class="active" /></span>
                            <span class="lt-list-item__primary-text">Manage Roster</span>
                            </a>
                        </li>
                        <li class="lt-list-item border-top">
                            <a href="{% url 'course-delete-view' course.pk %}" class="d-flex align-items-center justify-content-start lt-list-item__link">
                            <span class='lt-icons lt-list-item__icon' aria-hidden="true"><img src="{{STATIC_URL}}img/icon-trash.svg" class="active" /></span>
                            <span class="lt-list-item__primary-text">Delete Workspace</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
            <button type="button" class="lt-button mr-1 lt-button--transparent">
                <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-grid.svg" class="active" /></span>
                <span class='lt-button__text'>Grid</span>
            </button>
            <button type="button" class="lt-button lt-button--transparent">
                <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-list.svg" class="inactive" /></span>
                <span class='lt-button__text'>List</span>
            </button>
        </div>
    </div>
</div>

{% if is_faculty and projects %}
<div class="pt-3 px-3">
    <form action="{% url 'course-project-create' object.pk %}" method="post">
        {% csrf_token %}
        <button class="btn lt-button" data-cy="project-create-button">
            <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-plus-circle.svg" /></span>
            <span class='lt-button__text'>Create New Project</span>
        </button>
    </form>
</div>
{% endif %}

<div class="row dashboard-container">
    {% comment %}Projects cards{% endcomment %}
    {% if projects %}
        {% for project in projects %}
        <div class="col-md-6 col-xl-4 py-2">
            <div class="lt-card">
                <div class="lt-card__body">
                    <h3 class="lt-card__title"><a href="{% url 'course-project-detail' course.pk project.pk %}">{{ project.title }}</a></h3>
                    <p class="lt-card__term">Last update? Modified?</p>
                    <p class="lt-card_text"></p>
                    <p class="lt-card__text">{{ project.description|striptags|truncatechars:100}}</p>
                    <p class="lt-card__text"></p>
                    <ul class="list-group list-group-horizontal-sm lt-card__list-group">
                        <li class="list-group-item lt-card__list-group-item">Status?</li> {# not hooked up #}
                        <li class="list-group-item lt-card__list-group-item">
                        {% if user not in object.faculty and project.activity %}
                            <a data-cy="view-activity-button" href="{% url 'activity-detail' course.pk project.pk %}">Activity</a>
                        {% elif user in object.faculty and project.activity %}
                            1 Activity
                        {% elif not project.activity %}
                            No Activity                       
                        {% endif %}
                        </li>
                        {% if user not in object.faculty and project.activity %}
                        <li class="list-group-item lt-card__list-group-item">Responses status</li> {# not hooked up #}
                        {% endif %}
                        {% if user in object.faculty and project.activity %}
                        <li class="list-group-item lt-card__list-group-item">0/0 Responses</li> {# not hooked up #}
                        {% endif %}
                        <li class="list-group-item lt-card__list-group-item">What else?</li> {# not hooked up #}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        {% if is_faculty %}
        <div class="create-prompt">
            <div class="create-prompt__decor">
                <img src="{{STATIC_URL}}img/prompt-project.svg" />
            </div>
            <div class="create-prompt__content">
                <div class="create-prompt__alert" role="alert">
                  There are no Projects in this Workspace
                </div>
                <p class="create-prompt__instructions">
                You can start by creating one
                </p>
            <form action="{% url 'course-project-create' object.pk %}" method="post">
                {% csrf_token %}
                <button class="btn lt-button" data-cy="project-create-button">
                    <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-plus-circle.svg" /></span>
                    <span class='lt-button__text'>Create New Project</span>
                </button>
            </form>
            </div>
        </div>
        {% else %}
        <div class="create-prompt">
            <div class="create-prompt__decor">
                <img src="{{STATIC_URL}}img/prompt-project.svg" />
            </div>
            <div class="create-prompt__content">
                <div class="create-prompt__alert" role="alert">
                  There are no shared Projects in this Workspace
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>


{% endblock %}
