{% extends 'base.html' %}

{% block title %}
{% if project.activity %}Activity: {% endif %}{{ project.title }}
{% endblock %}


{% block content %}
<div class="device-compatibility alert alert-danger alert-dismissible fade show d-block d-sm-none" role="alert">
  Locus Tempus experience is optimal on larger screen devices, such as tablets, laptops, or desktop computers.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

    {% if project.activity %}
        <div id="activity-map-container" data-maptoken="{{ token }}" data-activitypk="{{ project.activity.pk }}" data-projectpk="{{ project.pk }}" data-isfaculty="{{ is_faculty }}"></div>
    {% else %}
        <div id="project-map-container" data-basemap="{{ project.base_map }}" data-maptoken="{{ token }}" data-newproject="{{ is_new_project }}"></div>
    {% endif %}
{% endblock %}

{% block js %}
    {% if project.activity %}
        <script src="{{STATIC_URL}}build/activity.js"></script>
    {% else %}
        <script src="{{STATIC_URL}}build/project.js"></script>
    {% endif %}
{% endblock %}

{% block css %}
    {% if project.activity %}
        <link href="{{STATIC_URL}}build/activity.css" rel="stylesheet">
    {% else %}
        <link href="{{STATIC_URL}}build/project.css" rel="stylesheet">
    {% endif %}
{% endblock %}

{# Clear the footer blocks #}
{% block footer%}{% endblock %}
