{% extends 'base.html' %}
{% load is_course_faculty %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>{{ course.title }}: Invite Users</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="{% url 'course-roster-view' course.id %}">Return to Course Roster</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            {% csrf_token %}

            {# Block for adding users by UNI #}
            <div id="uni-invite-form-group" class="form-group" data-cy="uni-invite-form">
                <h2>Add Users by UNI</h2>
                {{ uni_formset.management_form }}
                {% for form in uni_formset %}
                <div class="input-group uni-invite-input-group">
                    {% if form.invitee.errors %}
                    {{ form.invitee|add_class:"form-control is-invalid" }}
                    <div class="input-group-append">
                        <button class="btn btn-danger uni-invite-form-group__button--delete rounded-right" data-cy="remove-uni">
                            Delete
                        </button>
                    </div>
                    <div class="invalid-feedback">
                        {% for error in form.invitee.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.invitee|add_class:"form-control" }}
                    <div class="input-group-append">
                        <button class="btn btn-danger uni-invite-form-group__button--delete rounded-right" data-cy="remove-uni">
                            Delete
                        </button>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="form-row invite-add-row">
                <button id="uni-invite-form-add-field" class="btn btn-primary" data-cy="add-uni">Add Another UNI</button>
            </div>

            <div class="form-row">
                <button type="submit" class="btn btn-primary" data-cy="add-users">Add Users To Course</button>
            </div>
        </form>

        {# Skeleton markup for adding empty fields to the formset #}
        <div style="display:none">
            <div id="uni-invite-form-template" class="input-group uni-invite-input-group">
                {{ uni_formset.empty_form.invitee|add_class:"form-control" }}
                <div class="input-group-append">
                    <button class="btn btn-danger uni-invite-form-group__button--delete rounded-right" data-cy="remove-uni">Delete</button>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
