{% extends 'base.html' %}
{% load course_description course_faculty_string from course_tools %}

{% block bodyclass %}{% endblock %}
{% block headerclass %}course{% endblock %}
{% block mainclass %}course{% endblock %}

{% block title %}
Workspaces
{% endblock %}

{% block page_actions %}
<div class="lt-dashboard_actions">
    <form method="post" class="lt-layout-toggle">
        {% csrf_token %}
        <button type="submit" class="lt-button mr-1 {% if course_grid_layout %}active{% endif %}" {% if course_grid_layout %}disabled{% endif %}>
            <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-grid.svg" /></span>
            <span class='lt-button__label'>Grid</span>
        </button>
        <button type="submit" class="lt-button {% if not course_grid_layout %}active{% endif %}" {% if not course_grid_layout %}disabled{% endif %}>
            <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-list.svg" /></span>
            <span class='lt-button__label'>List</span>
        </button>
    </form>
</div>
{% endblock %}

{% block content %}

{% if courses %}
<div class="pt-3 px-3 text-right">
    <a href="{% url 'course-create-view' %}" data-cy="course-create-button" class="lt-button lt-button--solid">
        <span class='lt-icons lt-button__icon lt-button--svg'><img src="{{STATIC_URL}}img/icon-plus-circle.svg" /></span><span class='lt-button__label'>Create new workspace</span>
    </a>
</div>
{% endif %}

<div class="row dashboard-container pt-0">
    {% if courses %}
        {% if course_grid_layout %}
            {% for course in courses %}
            <div class="col-md-6 col-xl-4 py-2" data-cy="workspace-cards">
                <div class="lt-card">
                    <div class="lt-card__body">
                        <h3 class="lt-card__title"><a data-cy="workspace-title-link" href="{% url 'course-detail-view' course.pk %}">{{ course.title }}</a></h3>
                        <div class="lt-card__info-summary">
                            <p class="lt-card__text">{% if course.info.termyear %}Semester: {{ course.info.termyear }}<br />{% endif %}
                            Author: {{ course|course_faculty_string }}<br />
                            {% with totalProject=course.projects.count %}
                                <b>{{ totalProject }} Project{{ totalProject|pluralize }}</b>
                            {% endwith %}
                            </p>
                            <p class="lt-card__text"><b>You’re {% if user in course.faculty %}an Author{% else %}a Contributor{% endif %}</b></p>
                        </div>
                        {% if course|course_description %}
                            <p class="lt-card__text">{{ course|course_description }}</p>
                        {% else %}
                            <div class='lt-banner'>
                                There’s no description for this Workspace.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <table class="table table-bordered tablesorter" id="workspaces__table">
                <thead>
                    <tr>
                        <th scope="col">Workspace</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Authors</th>
                        <th scope="col" class="sorter-false">Description</th>
                        <th scope="col" class="text-nowrap">Your role</th>
                        <th scope="col" class="sorter-false text-nowrap">Other info</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td><a href="{% url 'course-detail-view' course.pk %}">{{ course.title }}</a></td>
                        <td>{% if course.info.termyear %}{{ course.info.termyear }}{% else %} &ndash; {% endif %}</td>
                        <td>{{ course|course_faculty_string }}</td>
                        <td>{% if course|course_description %}
                            {{ course|course_description }}
                        {% else %}
                            <span class="text-muted font-italic">There’s no description for this Workspace.</span>
                        {% endif %}</td>
                        <td>{% if user in course.faculty %}Author{% else %}Contributor{% endif %}</td>
                        <td class="text-nowrap">
                        {% with totalProject=course.projects.count %}
                            {{ totalProject }} Project{{ totalProject|pluralize }}
                        {% endwith %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}

    {% if not courses %}
        <div class="create-prompt" data-cy="create-workspaces-prompt">
            <div class="create-prompt__decor">
                <img src="{{STATIC_URL}}img/prompt-workspace.svg" />
            </div>
            <div class="create-prompt__content">
                <div class="create-prompt__alert" role="alert">
                  You don’t have any Workspaces
                </div>
                <p class="create-prompt__instructions">
                You can start by creating one
                </p>
                <a href="{% url 'course-create-view' %}" data-cy="course-create-button" class="lt-button lt-button--solid">
                    <span class='lt-icons lt-button__icon lt-button--svg'><img src="{{STATIC_URL}}img/icon-plus-circle.svg" /></span><span class='lt-button__label'>Create new workspace</span>
                </a>
            </div>
        </div>
    {% endif %}

</div>


{% endblock %}
