{% extends 'base.html' %}
{% load course_description from course_tools %}
{% load widget_tweaks %}

{% block title %}
Edit {{ course.title }}
{% endblock %}

{% block content %}

<div class="dashboard-container">
    <form action="." method="post">
        {% csrf_token %}
        <div class="form-group">
           <label for="{{ form.title.id_for_label }}">Title:</label>
           <input data-cy="field-workspace-title" type="text" name="title" id="id_title" value="{{ object.title }}" required="required" class="form-control {% if form.title.errors %}is-invalid{% endif %}" />
        </div>
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {% if form.description.errors %}
                {{ form.description|add_class:"form-control is-invalid"|attr:"data-cy:workspace-description" }}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                <textarea name="description" cols="40" rows="3" class="form-control" maxlength="200" placeholder="A brief summary of your workspace." id="{{ form.description.id_for_label }}" data-cy="field-workspace-description"></textarea>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-1 pr-0">
                <button data-cy="save-workspace" type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="col-md-1 pr-0">
                 <a data-cy="cancel-save-workspace" class="btn btn-block btn-secondary" href="/course/{{ course.pk }}/">Cancel</a>
            </div>
        </div>
    </form>
    
<h2 class="mt-5">Delete Workspace</h2>

    <a href="{% url 'course-delete-view' course.pk %}">Delete Course</a>
</div>
{% endblock %}
