{% extends 'base.html' %}

{% block title %}
Edit {{ course.title }}
{% endblock %}

{% block content %}

<div class="dashboard-container">
    <form action="." method="post">
        {% csrf_token %}
        <div class="form-group">
           <label for="{{ form.title.id_for_label }}">Title:</label>
           <input data-cy="field-workspace-title" type="text" name="title" id="id_title" value="{{ object.title }}" required="required" class="form-control {% if form.title.errors %}is-invalid{% endif %}" />
        </div>
        <div class="form-group">
            <label for="id_description">Description:</label>
            <textarea name="description" cols="40" rows="3" class="form-control" maxlength="200" placeholder="{% if not object.description %}A brief summary of your workspace.{% endif %}" id="id_description">{{ object.description }}</textarea>
        </div>
        <div class="row">
            <div class="col-md-1 pr-0">
                <button data-cy="save-workspace" type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="col-md-1 pr-0">
                 <a data-cy="cancel-save-workspace" class="btn btn-block btn-secondary" href="/course/{{ course.pk }}/">Cancel</a>
            </div>
        </div>
    </form>
    
<h2 class="mt-5">Delete Workspace</h2>

    <a href="{% url 'course-delete-view' course.pk %}">Delete Course</a>
</div>
{% endblock %}
