{% extends 'base.html' %}
{% load is_course_faculty %}

{% block title %}
{{ object.title }}: Roster
{% endblock %}

{% block content %}

<div class="pt-3 px-3">
    <a href="{% url 'course-roster-invite-user' object.pk %}" type="button" class="btn lt-button">
        <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/add-user.svg" /></span>
        <span class='lt-button__text'>Invite Contributor</span>
    </a>
</div>



{% if object.members %}
<table class="table table-hover course-roster__table tablesorter" data-cy="uni-roster-table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Role</th>
            <th scope="col" class="sorter-false">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for member in object.members %}
        {% is_course_faculty member as is_faculty %}
        <tr>
            <td>{{ member.first_name }}</td>
            <td>{{ member.last_name }}</td>
            <td>{{ member.username }}</td>
            <td>
                {% if is_faculty %}Faculty{% else %}Student{% endif %}
            </td>
            <td>
                <form action="{% if is_faculty %}{% url 'course-roster-demote-view' object.pk %}{% else %}{% url 'course-roster-promote-view' object.pk %}{% endif %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" id="user_id" value="{{ member.id }}">
                    <button type="submit" class="btn btn-primary btn-sm">
                        {% if is_faculty %}Demote{% else %}Promote{% endif %}
                    </button>
                </form>
                <form action="{% url 'course-roster-remove-view' object.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" id="user_id" value="{{ member.id }}">
                    <button type="submit" class="btn btn-danger btn-sm">
                        Remove 
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
There are no users in this course.
{% endif %}

{% if inactive_invitees %}
<h2>Inactive Invitees</h2>
<table class="table table-hover course-roster__table tablesorter" data-cy="guest-roster-table">
    <thead>
        <tr>
            <th scope="col">Email Address</th>
            <th scope="col" class="sorter-false">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for invitee in inactive_invitees %}
        <tr>
            <td>{{ invitee.guest_email }}</td>
            <td>
                <form action="{% url 'course-roster-resend-invite-view' object.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_email" value="{{ invitee.guest_email }}">
                    <button type="submit" class="btn btn-primary btn-sm">
                        Resend
                    </button>
                </form>
                <form action="{% url 'course-roster-uninvite-view' object.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_email" value="{{ invitee.guest_email }}">
                    <button type="submit" class="btn btn-danger btn-sm">
                        Uninvite 
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
