{% extends 'base.html' %}

{% block bodyclass %}{% endblock %}
{% block headerclass %}course{% endblock %}
{% block mainclass %}course{% endblock %}

{% block title %}
Workspaces
{% endblock %}

{% block page_actions %}
<div class="lt-dashboard_actions">
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn lt-button mr-1 lt-button--transparent" {% if course_list_grid %}disabled{% endif %}>
            <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-grid.svg" class="{% if course_list_grid %}inactive{% else %}active{% endif %}" /></span>
            <span class='lt-button__text'>Grid</span>
        </button>
        <button type="submit" class="btn lt-button lt-button--transparent" {% if not course_list_grid %}disabled{% endif %}>
            <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-list.svg" class="{% if course_list_grid %}active{% else %}inactive{% endif %}" /></span>
            <span class='lt-button__text'>List</span>
        </button>
    </form>
</div>
{% endblock %}

{% block content %}

{% if registrar_courses or sandbox_courses %}
<div class="pt-3 px-3">
    <a href="{% url 'course-create-view' %}" data-cy="course-create-button" class="btn lt-button">
        <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-plus-circle.svg" /></span>
        <span class='lt-button__text'>Create new workspace</span>
    </a>
</div>
{% endif %}

<div class="row dashboard-container">
    {% comment %}Registrar Workspaces{% endcomment %}

    {% if registrar_courses %}
        {% for course in registrar_courses %}
        <div class="col-md-6 col-xl-4 py-2" data-cy="registrar-course-cards">
            <div class="lt-card">
                <div class="lt-card__body">
                    <h3 class="lt-card__title"><a href="{% url 'course-detail-view' course.pk %}">{{ course.title }}</a></h3>
                    <p class="lt-card__term">{{ course.info.termyear }}</p>
                    <p class="lt-card_text">Authors: {% for fac in course.faculty %}{{ fac }}{% if not forloop.last%}, {% endif %}{% endfor %}</p>
                    <p class="lt-card__text">Concatenated workspace description go here, if we decide to have a field for that</p> {# not hooked up #}
                    <p class="lt-card__text">You’re {% if user in course.faculty %}an Author{% else %}a Contributor{% endif %}</p>
                    <ul class="list-group list-group-horizontal-sm lt-card__list-group">
                        <li class="list-group-item lt-card__list-group-item">0 Projects</li> {# not hooked up #}
                        <li class="list-group-item lt-card__list-group-item">5 Contributors</li> {# not hooked up #}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    {% comment %}Sandbox Workspaces{% endcomment %}

    {% if sandbox_courses %}
        {% for course in sandbox_courses %}
        <div class="col-md-6 col-xl-4 py-2" data-cy="sandbox-workspace-cards">
            <div class="lt-card">
                <div class="lt-card__body">
                    <h3 class="lt-card__title"><a href="{% url 'course-detail-view' course.pk %}">{{ course.title }}</a></h3>
                    {% comment %}<p class="lt-card__term">Spring 2021</p>{% endcomment %}
                    <p class="lt-card_text">Authors: {% for fac in course.faculty %}{{ fac }}{% if not forloop.last%}, {% endif %}{% endfor %}</p>
                    <p class="lt-card__text">Concatenated workspace description go here, if we decide to have a field for that</p> {# not hooked up #}
                    <p class="lt-card__text">You’re {% if user in course.faculty %}an Author{% else %}a Contributor{% endif %}</p>
                    <ul class="list-group list-group-horizontal-sm lt-card__list-group">
                        <li class="list-group-item lt-card__list-group-item">{{ course.projects.count }} Projects</li>
                        <li class="list-group-item lt-card__list-group-item">{{ course.members.count }} Contributors</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    
    {% if not registrar_courses and not sandbox_courses %}
        <div class="create-prompt">
            <div class="create-prompt__decor">
                <img src="{{STATIC_URL}}img/prompt-workspace.svg" />
            </div>
            <div class="create-prompt__content">
                <div class="create-prompt__alert" role="alert">
                  You don’t have any Workspaces
                </div>
                <p class="create-prompt__instructions">
                You can start by creating one
                </p>
                <a href="{% url 'course-create-view' %}" data-cy="course-create-button" class="btn lt-button">
                    <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-plus-circle.svg" /></span>
                    <span class='lt-button__text'>Create new workspace</span>
                </a>
            </div>
        </div>
    {% endif %}

</div>


{% endblock %}
