{% extends 'base.html' %}

{% block title %}
{{ project.title }}
{% endblock %}

{% block content %}
<div id="project-map-container" data-basemap="{{ project.base_map }}" data-maptoken="{{ token }}" data-newproject="{{ is_new_project }}"></div>
{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}build/project.js"></script>
{% endblock %}

{% block css %}
<link href="{{STATIC_URL}}build/project.css" rel="stylesheet">
{% endblock %}

{# Clear the footer blocks #}
{% block footer%}{% endblock %}
