{% extends 'base.html' %}

{% block title %}
Delete Project
{% endblock %}

{% block content %}
<h1>Delete Project "{{ object }}"</h1>
<form method="post">{% csrf_token %}
    <p>
    Are you sure that you want to delete the project: "{{ object }}"?
    </p>
    {% if object.activity %}
        {% if object.activity.responses %}
        <p>
            This project has an activity with {{ object.activity.responses.count }} response(s).
        </p>
        {% else %}
        <p>
            This project has an activity but does not have responses.
        </p>
        {% endif %}
    {% endif %}
    <a class="btn btn-primary" href="{% url 'course-project-detail' object.course.pk object.pk %}">Cancel</a>
    <input class="btn btn-danger" type="submit" value="Delete">
</form>
{% endblock %}
