{% extends 'base.html' %}
{% load course_description course_faculty_string from course_tools %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block page_actions %}
    <div class="lt-dashboard_actions">
        {% if is_faculty %}
        <div class="lt-menu-overflow">
            <button type="button" data-cy="manage-workspace" class="lt-button mr-4 dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-cog.svg" class="active" /></span>
                <span class='lt-button__label'>Manage</span>
            </button>
            <div class="lt-menu lt-menu-overflow--bootstrap dropdown-menu">
                <ul class="lt-list">
                    <li class="lt-list-item">
                        <a data-cy="edit-workspace" href="{% url 'course-edit-view' course.pk %}" class="d-flex align-items-center justify-content-start lt-list-item__link">
                        <span class='lt-icons lt-list-item__icon' aria-hidden="true"><img src="{{STATIC_URL}}img/icon-pencil.svg" class="active" /></span>
                        <span class="lt-list-item__primary-text">Edit Workspace</span>
                        </a>
                    </li>
                    <li class="lt-list-item">
                        <a data-cy="manage-workspace-roster" href="{% url 'course-roster-view' course.pk %}" class="d-flex align-items-center justify-content-start lt-list-item__link">
                        <span class='lt-icons lt-list-item__icon' aria-hidden="true"><img src="{{STATIC_URL}}img/icon-roster.svg" class="active" /></span>
                        <span class="lt-list-item__primary-text">Manage Roster</span>
                        </a>
                    </li>
                    <li class="lt-list-item border-top">
                        <a data-cy="delete-workspace" href="{% url 'course-delete-view' course.pk %}" class="d-flex align-items-center justify-content-start lt-list-item__link">
                        <span class='lt-icons lt-list-item__icon' aria-hidden="true"><img src="{{STATIC_URL}}img/icon-trash.svg" class="active" /></span>
                        <span class="lt-list-item__primary-text">Delete Workspace</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="post" class="lt-layout-toggle">
            {% csrf_token %}
            <button type="submit" class="lt-button mr-1 {% if project_grid_layout %}active{% endif %}" {% if project_grid_layout %}disabled{% endif %}>
                <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-grid.svg" /></span>
                <span class='lt-button__label'>Grid</span>
            </button>
            <button type="submit" class="lt-button {% if not project_grid_layout %}active{% endif %}" {% if not project_grid_layout %}disabled{% endif %}>
                <span class='lt-icons lt-button__icon'><img src="{{STATIC_URL}}img/icon-list.svg" /></span>
                <span class='lt-button__label'>List</span>
            </button>
        </form>
    </div>
{% endblock %}

{% block content %}

<div class="row pt-3 px-0 mt-0 mx-0" data-cy="workspace-summary-info">
    <div class="col-9">
        {% if course.info.termyear %}<div>Semester: {{ course.info.termyear }}</div>{% endif %}
        <div data-cy="course-faculty"><b>Author:</b> {{ course|course_faculty_string }}</div>
        <div data-cy="number-of-projects"><b>Number of Projects:</b>
        {% with totalProject=projects.count %}
            {{ totalProject }} Project{{ totalProject|pluralize }}
        {% endwith %}
        </div>
        <div data-cy="course-description"><b>Description:</b>
            {% if course|course_description %}
                {{ course|course_description }}
            {% else %}
                There’s no description for this Workspace.
            {% endif %}
        </div>
        <div data-cy="course-role"><b>Your role:</b> {% if user in course.faculty %}Author{% else %}Contributor{% endif %}</div>
    </div>
    {% if is_faculty and projects %}
    <div class="col-3 text-right">
        <form action="{% url 'course-project-create' course.pk %}" method="post">
            {% csrf_token %}
            <button data-cy="project-create-button" class="lt-button lt-button--solid">
                <span class='lt-icons lt-button__icon lt-button--svg'><img src="{{STATIC_URL}}img/icon-plus-circle.svg" /></span><span class='lt-button__label'>Create New Project</span>
            </button>
        </form>
    </div>
    {% endif %}
</div>


<div class="row dashboard-container" data-cy="project-list">
    {% comment %}Projects cards{% endcomment %}
    {% if projects %}
        {% if project_grid_layout %}
            {% for project in projects %}
            <div class="col-md-6 col-xl-4 py-2">
                <div class="lt-card" data-cy="project-card">
                    <div class="lt-card__body">
                        <h3 class="lt-card__title"><a data-cy="project-title-link"  href="{% url 'course-project-detail' course.pk project.pk %}">{{ project.title }}</a></h3>
                        <p class="lt-card__text my-0">Created on {{ project.created_at }}</p>
                        <p class="lt-card__text mt-0">{% if project.activity %}1 Activity{% else %}No Activity{% endif %}</p>
                        <p class="lt-card__text">{{ project.description|striptags|truncatechars:140}}</p>
                        <ul class="list-group list-group-horizontal-sm lt-card__list-group">
                            {% if user not in course.faculty and project.activity %}
                                <li class="list-group-item lt-card__list-group-item">
                                    Your Response status: {{ project.response_status|lower|capfirst }} {# Could be: None, 'DRAFT', 'SUBMITTED', 'REVIEWED' #}
                                </li>
                            {% endif %}
                            {% if user in course.faculty and project.activity %}
                                <li class="list-group-item lt-card__list-group-item">
                                {% with totalResponses=project.activity.submitted_response_count %}
                                    {{ totalResponses }} Response{{ totalResponses|pluralize }} submitted
                                {% endwith %}
                                </li>
                                <li class="list-group-item lt-card__list-group-item">
                                {% with totalFeedback=project.activity.feedback_count %}
                                    {{ totalFeedback }} Feedback{{ totalFeedback|pluralize }} sent
                                {% endwith %}
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <table class="table table-bordered tablesorter" id="projects__table">
                <thead>
                    <tr>
                        <th scope="col">Project</th>
                        <th scope="col" class="text-nowrap">Date created</th>
                        <th scope="col" class="sorter-false">Description</th>
                        <th scope="col">Activity</th>
                        <th scope="col" class="text-nowrap">Responses status</th>
                        {% if user in course.faculty %}
                        <th scope="col" class="text-nowrap">Feedback status</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td><a href="{% url 'course-project-detail' course.pk project.pk %}">{{ project.title }}</a></td>
                        <td>{{ project.created_at }}</td>
                        <td>{% if project.description %}
                            {{ project.description|striptags|truncatechars:140}}
                        {% else %}
                            &ndash;
                        {% endif %}</td>
                        <td class="text-nowrap">
                            {% if project.activity %}1 Activity{% else %}No Activity{% endif %}
                        </td>
                        <td>
                        {% if user not in course.faculty and project.activity %}
                            {{ project.response_status|lower|capfirst }} {# Could be: None, 'DRAFT', 'SUBMITTED', 'REVIEWED' #}
                        {% endif %}
                        {% if user in course.faculty and project.activity %}
                            {% with totalResponses=project.activity.submitted_response_count %}
                                {{ totalResponses }} Response{{ totalResponses|pluralize }} submitted
                            {% endwith %}
                        {% endif %}
                        {% if not project.activity %}
                            &ndash;
                        {% endif %}
                        </td>
                        {% if user in course.faculty %}
                        <td>
                        {% if project.activity %}
                            {% with totalFeedback=project.activity.feedback_count %}
                                {{ totalFeedback }} Feedback{{ totalFeedback|pluralize }} sent
                            {% endwith %}
                        {% else %}
                            &ndash;
                        {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}        
    {% else %}
        {% if is_faculty %}
        <div class="create-prompt" data-cy="create-projects-prompt">
            <div class="create-prompt__decor">
                <img src="{{STATIC_URL}}img/prompt-project.svg" />
            </div>
            <div class="create-prompt__content">
                <div class="create-prompt__alert" role="alert">
                  There are no Projects in this Workspace
                </div>
                <p class="create-prompt__instructions">
                You can start by creating one
                </p>
            <form action="{% url 'course-project-create' course.pk %}" method="post">
                {% csrf_token %}
                <button data-cy="project-create-button" class="lt-button lt-button--solid">
                    <span class='lt-icons lt-button__icon lt-button--svg'><img src="{{STATIC_URL}}img/icon-plus-circle.svg" /></span><span class='lt-button__label'>Create New Project</span>
                </button>
            </form>
            </div>
        </div>
        {% else %}
        <div class="create-prompt">
            <div class="create-prompt__decor">
                <img src="{{STATIC_URL}}img/prompt-project.svg" />
            </div>
            <div class="create-prompt__content">
                <div class="create-prompt__alert" role="alert">
                  There are no shared Projects in this Workspace
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>


{% endblock %}
