{% extends 'base.html' %}

{% block title %}A mapping application for spatial and temporal thinking in classrooms{% endblock %}

{% block content %}

<section class="section--hero">
    <div class="hero-text">
        <h1>A mapping application for spatial and temporal thinking</h1>
        <p>Visualize. Analyze. Collaborate.</p>
        <div class="hero-invitation">
            {% if request.user.is_anonymous %}
            <a href="/accounts/register/" class="lt-button lt-button--lg lt-button--priority-outlined mx-2" data-cy="sign-up-large">
                <span class='lt-button__label'>Create an account</span>
            </a>
            <a href="/accounts/login/?next=/" class="lt-button lt-button--lg lt-button--priority mx-2" data-cy="sign-in-large">
                <span class='lt-button__label'>Sign in</span>
            </a>
            {% else %}
            <a href="/dashboard/" class="lt-button lt-button--lg lt-button--priority mx-2" data-cy="see-workspaces">
                <span class='lt-button__label'>See your Workspaces</span>
            </a>
            {% endif %}
        </div>
    </div>
</section>

<div class="section-homepage alert alert-danger d-block d-sm-none p-3" role="alert">
  Locus Tempus experience is optimal on larger screen devices, such as tablets, laptops, or desktop computers.
</div>

<section class="section-homepage section--bookends">
    <h2>
        Teaching and learning with time and space
    </h2>
    <p>
        Locus Tempus is a powerful application designed to facilitate map-based learning activities across disciplines. Locus Tempus features tools for authoring maps, inviting collaborators, and analyzing data spatially and temporally.
    </p>
</section>

<section class="section-homepage section--feature">
    <div class="col-lg">
        <h2>Visualize geospatial data</h2>
        <p>
        Cultivate spatial reasoning by using map layers to visualize geospatial events from different sources. Layers allow you to explore interdisciplinary concepts and procedures by charting data in ways that are meaningful to your inquiry.
        </p>
    </div>
    <div class="col-lg">
        <img class="" src="{{STATIC_URL}}img/lt-feature-visualize.jpg" alt="Banner for Visualize geospatial data" />
    </div>
</section>

<section class="section-homepage section--feature">
    <div class="col-lg order-lg-2">
        <h2>Analyze patterns and trends</h2>
        <p>
        Tag, connect, and categorize events and layers to compare, contrast and examine patterns, trends and relationships in your data. Locus Tempus allows you to further explore your questions, make decisions and represent your data in compelling ways.
        </p>
    </div>
    <div class="col-lg order-lg-1">
        <img class="" src="{{STATIC_URL}}img/lt-feature-analyze.jpg" alt="Banner for Analyze patterns and trends" />
    </div>
</section>

<section class="section-homepage section--feature">
    <div class="col-lg">
        <h2>Foster collaborative learning</h2>
        <p>
        Share your map and allow others to contribute to your visualization and analysis. For higher education, Locus Tempus may be integrated into any content management system providing faculty a streamlined process for authoring maps and inviting student contributors.
        </p>
    </div>
    <div class="col-lg">
        <img class="" src="{{STATIC_URL}}img/lt-feature-collaborative.jpg" alt="Banner for Foster collaborative learning" />
    </div>
</section>

<section class="section-homepage section--bookends">
    <h2>Partner with us
</h2>
    <p>
        If you’re interested in implementing this tool in your teaching practice, or to learn more about Locus Tempus, please reach out to the CTL project team that is developing Locus Tempus.
    </p>
    <p class="text-center">
        <a href="/contact/"
            title="Contact us"
            class="lt-button lt-button--lg lt-button--solid mt-3">
                <span class='lt-button__label'>Contact our team</span>
            </a>
    </p>
</section>


{% endblock %}
