a:not([class]) {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
        background-color: $primary-lightest;
    }
    &:focus {
        color: $link-focus-color;
        text-decoration: underline;
        border-radius: 0.125rem;
        //outline: 1px solid $link-color;
        outline: 0;
        box-shadow: $focus-box-shadow-primary;
    }
}

#cu-privacy-notice a:not([class]) {
    &:hover {
        text-decoration: underline;
        background-color: transparent !important;
    }
    &:focus {
        text-decoration: underline;
        border-radius: 0.125rem;
        //outline: 1px solid $link-color;
        outline: 0;
        box-shadow: $focus-box-shadow-primary;
    }
}

header a.navbar-brand {
    &:hover {
        background-color: $blue-800;
    }
    &:focus {
        background-color: $blue-800;
        box-shadow: $focus-box-shadow-bright;
        border: 0;
        border-radius: 0.125rem;
        outline: 0;
    }
}