.lt-card {
    @extend .card;
    margin: 0.5rem 0;
    height: 100%;
    border: 1px solid $border-color;
    &__body {
        @extend .card-body;
    }
    &__title {
        @extend .card-title;
        @extend %heading;
        @include font-size($h5-font-size);
    }
    &__info-summary {
        margin: -0.5rem 0 0.75rem 0 !important;
        padding: 0 !important;
        > * {
            margin: 0 !important;
            padding: 0 !important;
            background-color: transparent !important;
        }
    }
    &__term {
        @extend .card-text;
    }
    &__text {
        @extend .card-text;
    }
    &__list-group {
        margin-top: 1rem;
    }
    &__list-group-item {
        margin: 0;
        padding: 0.25rem 0.5rem;
        border: 0;
        border-right: 1px solid #ccc;
    }
    &__list-group-item:first-child {
        padding-left: 0;
    }
    &__list-group-item:last-child {
        border-right: 1px solid transparent;
    }
}

// figcaption {
//     margin: 0.625rem 1rem;
//     .img__caption {
//         padding-right: 1rem;
//     }
// }
