.lt-alert {
    margin: auto;
    padding: 0.875rem 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-radius: 0.25rem;
    @extend .elevation-1; 
    &--top {
        position: fixed;
        background-color: #333333;
        color: #efefef;
        min-width: 25rem;
        max-width: 30rem;
        top: 5rem;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1040;
        //animation: opacity-fade-out 1s forwards;
        //animation-delay: 3s;
    }
    &--top.alert-dismissible .close {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 2;
        font-size: 1.875rem;
        font-weight: normal;
        line-height: 1;
        color: #efefef;
        text-shadow: none;
        opacity: 0.87;
        padding: 0;
    }
    &__text {
        margin-right: 3rem;
    }
}

%banner-base {
	position: relative;
    margin: auto auto 1rem auto;
    padding: 0.875rem;
    border: 0;
    border-radius: 0.25rem;
    /*@extend .elevation-1; */
}

.lt-banner {
    &__icon {
        margin-right: 8px;
    }
    &__icon > * {
        max-height: 24px !important;
        max-width: 24px !important;
    }
    &__text {
        font-style: italic;
        padding: 0;
        margin: 0;
    }
    &--transparent {
        background-color: transparent;
        border: 1px solid transparent;
    }
}

.lt-banner-tip-prompt {
    @extend %banner-base;
    background-color: #fff9c4;
    border: 1px solid #f0c36d;
    .lt-banner__icon {
        filter: invert(62%) sepia(35%) saturate(5159%) hue-rotate(2deg) brightness(104%) contrast(102%);
    }
    &::after {
        background-color: inherit;
        border-right: inherit;
        border-bottom: inherit;
        content: "";
        display: block;
        height: 0.8rem;
        width: 0.8rem;
        position: absolute;
        left: calc(100% - 0.4rem);
        top: calc(50% - 0.4rem);
        webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

.lt-banner-tip-muted {
    @extend %banner-base;
    background-color: #efefef;
    border: 1px solid #e3e3e3;
}


@keyframes opacity-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none !important;
  }
}