.lt-icons {
    width: 20px;
    height: 20px;
    padding: 2px;
    line-height: 1;
    display: inline-block;
}

.inactive {
    filter: $cccccc;
    -webkit-filter: $cccccc;
    -moz-filter: $cccccc;
}