.lt-icons {
    width: 20px;
    height: 20px;
    padding: 2px;
    line-height: 1;
    display: inline-block;
}

.inactive {
    filter: $cccccc;
    -webkit-filter: $cccccc;
    -moz-filter: $cccccc;
}

.lt-dashboard_actions .lt-button {
    & .lt-icons {
        filter: $cccccc;
        -webkit-filter: $cccccc;
        -moz-filter: $cccccc;
    }
    & .lt-button__text {
        color: #cccccc;
    }
}

.lt-dashboard_actions .lt-button.active {
    & .lt-icons {
        filter: $darksvg;
        -webkit-filter: $darksvg;
        -moz-filter: $darksvg;
    }
    & .lt-button__text {
        color: #212529;
    }
}