.loading-modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100000;
    &__indicator {
        position: absolute;
        top: 30%;
        left: 50%;
        border: 2rem solid #ff9933;
        border-radius: 50%;
        border-top: 1.5rem solid #339933;
        border-right: 0.75rem solid #339933;
        width: 5.25rem !important;
        height: 6.5rem !important;
        -webkit-animation: spin 0.5s linear infinite;
        animation: spin 2s linear infinite;
        background-color: #78adff;
    }
    &__text {
        position: absolute;
        top: calc(30% + 130px);
        left: calc(50% - 30px);
        font-family: $heading-font-family;
        font-weight: $heading-font-weight;
        line-height: $heading-line-height;
        color: #fff;
        font-size: 2rem;
    }
}

.upload-status {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    border: 0;
    &--progress {
        width: 3rem;
        height: 3rem;
        border: 6px solid $secondary1-medium;
        border-radius: 50%;
        border-top: 6px solid $secondary2-dark;
        background-color: $white;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 0.5s linear infinite;
    }
    &--error {
        width: 3rem;
        height: 3rem;
        color: #b00020;
        text-align: center;
        line-height: 4rem;
    }
    &--success {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        color: #4caf50; /*28a745*/
        background-color: #ffffff;
        position: absolute;
        bottom: 0.375rem;
        right: 0.375rem;
        text-align: center;
        line-height: 2rem;
    }
    &__percent {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        line-height: 3rem;
        width: 3rem;
        font-family: $heading-font-family;
        font-weight: $heading-font-weight;
        color: #000;
        font-size: 0.8rem;
    }
}


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


