.trailing {
    margin-right: 0;
    margin-left: auto;
}

.leading {
    margin-left: 0;
    margin-right: 0.5rem;
}

.all-transparent {
    background-color: transparent !important;
    border-color: transparent !important;
}

.focus-none {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}