.trailing {
    margin-right: 0;
    margin-left: auto;
}

.leading {
    margin-left: 0;
    margin-right: 0.5rem;
}

.all-transparent {
    background-color: transparent !important;
    border-color: transparent !important;
}

.focus-none {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

.alert {
    &--error {
        padding-top: 0.5rem;
        color: $on-error;
        font-size: 0.8125rem;
    }
}

.errorlist {
    padding: 0;
    margin: 0 !important;
    font-size: 0.875rem !important;
    color: $on-error !important;
}