{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}
<div class="loginbox">
    <div class="loginbox__content">
        <div class="loginbox__header">
            <img class="loginbox__avatar" src="{{STATIC_URL}}img/logo-login-page.svg" alt="" />
            <h1 class="loginbox__title">Sign in</h1>
        </div>
        <div class="loginbox__body--cuid">
            
            <h2 class="h6 mb-3 text-center">If you have a Columbia University Network ID (UNI)</h2>
            <form class="text-center" method="get" action="/cas/login">
                <input type="hidden" name="next" value="/" />
                <button class="lt-button lt-button--priority mt-3" data-cy="columbia-login" type="submit">
                    <span class='lt-button__label'>Columbia UNI Sign In</span>
                </button>
                <p class="small pt-2">
                    <a href="https://cuit.columbia.edu/cuit/manage-my-uni" rel="noopener noreferrer" title="Learn more about UNI" target="_blank">
                        What is a UNI?
                    </a>
                </p>
            </form>
            <hr class="seperator" />
            
        </div>
        <div class="loginbox__body--local">
        {% if form.errors %}
            <div class="alert alert-danger" role="alert" data-cy="guest-login-error">
                <div><b>Invalid username or password</b></div>
            </div>
        {% endif %}

        <h2 class="h6 mb-3 text-center">If you have a Locus Tempus account</h2>
        <form class="text-center" name="login_local" method="post" action=".">
            {% csrf_token %}
            <div id="login-local-form__field-wrapper" class="login-local-form" {% if not form.errors %}style="display: none"{% endif %}>
                <div class="form-group">
                    <label for="id_username">Username</label>
                    <input id="id_username" maxlength="254"
                           name="username" type="text"
                           class="form-control" data-cy="guest-login-username" autofocus>
                </div>

                <div class="form-group">
                    <label for="id_password">Password</label>
                    <input id="id_password" name="password" type="password" class="form-control" data-cy="guest-login-password">
                </div>
            </div>
            <button id="guest-login" class="lt-button lt-button--priority mt-3" data-cy="guest-login" type="button" {% if form.errors %}style="display: none"{% endif %}>
                <span class='lt-button__label'>Account Sign In</span>
            </button>
            <button id="login-local-form__submit" class="lt-button lt-button--priority mt-3" data-cy="guest-login-submit" type="submit" {% if not form.errors %}style="display: none;"{% endif %}>
                <span class='lt-button__label'>Account Sign In</span>
            </button>
            <input type="hidden" name="next" value="{{ next|urlencode }}" />
            <p class="small pt-2"><a href="/accounts/password_reset/" data-cy="forgot-password">Forgot Password?</a></p>
        </form>
            <hr class="seperator" />
        </div>
        <div class="loginbox__body--signup text-center">
            <h2 class="h6 mb-3">New to Locus Tempus?</h2>
            <a href="/accounts/register/" class="lt-button lt-button--solid mt-3">
                <span class='lt-button__label'>Create an account</span>
            </a>
        </div>
    </div>
</div>


    
{% endblock %}
