.lt-list {
    @include list-typography;
    margin: 0;
    padding: 0.5rem 0;
    list-style-type: none;
}

.lt-list-layer {
    @include list-layer-typography;
    margin-left: 0.875rem;
    &-item {
        border: 1px solid transparent;
    }
    &-item--amber {
        background-color: $amber-100;
        border: 1px solid $amber-200;
        color: #b90;
    }
    &-item--blue {
        background-color: $blue-100;
        border: 1px solid $blue-200;
        color: #00c;
    }
    &-item--red {
        background-color: $red-100;
        border: 1px solid $red-200;
        color: #c00;
    }
    &-item--purple {
        background-color: $purple-100;
        border: 1px solid $purple-200;
        color: #b0b;
    }
    &-item--green {
        background-color: $green-100;
        border: 1px solid $green-200;
        color: #0c0;
    }
    &-item--cyan {
        background-color: $cyan-100;
        border: 1px solid $cyan-200;
        color: #0bb;
    }
    &-item--pink {
        background-color: $pink-100;
        border: 1px solid $pink-200;
        color: #f6f;
    }
    &-item--lime {
        background-color: $lime-100;
        border: 1px solid $lime-200;
        color: #7b0;
    }
    &-item--orange {
        background-color: $orange-100;
        border: 1px solid $orange-200;
        color: #c60;
    }
}

.lt-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.5rem;
    &--greeting {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 2rem;
        font-weight: 500;
        border-bottom: 1px dotted $border-color;
        @include media-breakpoint-up(sm) {
            display: none;
        }
    }
    &__icon {
        display: inline-block;
        margin-right: 0.25rem;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
    }
    &__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 0.875rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        cursor: pointer;
    }
    &__link:focus {
        outline: none;
        border-color: transparent;
        box-shadow: $focus-box-shadow-primary;
        background-color: transparent;
    }
    &__link:active {
        outline: none;
        border-color: transparent;
        box-shadow: none;
        background-color: transparent;
    }
    &__primary-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &--caution {
        .lt-list-item__primary-text {
            color: $on-error;
        }
        .lt-list-item__link {
            color: $on-error;
        }
         .lt-icons {
            filter: $error-svg;
            -webkit-filter: $error-svg;
            -moz-filter: $error-svg;
        }
    }
}

.lt-form-list-item {
    height: auto;
}
