.lt-list {
    @include list-typography;
    margin: 0;
    padding: 0.5rem 0;
    list-style-type: none;
}

.lt-list-layer {
    @include list-layer-typography;
    margin-left: 0.875rem;
    &-item {
        border: 1px solid transparent;
    }
    &-item--active {
        background-color: $surface-lighter;
        border: 1px solid $surface-light;
        color: #c00;
    }
}

.lt-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.5rem;
    &--greeting {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 2rem;
        font-weight: 500;
        border-bottom: 1px dotted $border-color;
        @include media-breakpoint-up(sm) {
            display: none;
        }
    }
    &__icon {
        display: inline-block;
        margin-right: 0.25rem;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
    }
    &__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 0.875rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        cursor: pointer;
    }
    &__link:focus {
        outline: none;
        border-color: transparent;
        box-shadow: $focus-box-shadow-primary;
        background-color: transparent;
    }
    &__link:active {
        outline: none;
        border-color: transparent;
        box-shadow: none;
        background-color: transparent;
    }
    &__primary-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &--caution {
        .lt-list-item__primary-text {
            color: $on-error;
        }
        .lt-list-item__link {
            color: $on-error;
        }
         .lt-icons {
            filter: $error-svg;
            -webkit-filter: $error-svg;
            -moz-filter: $error-svg;
        }
    }
}

.lt-form-list-item {
    height: auto;
}
