.lt-list-group {
    margin-top: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid $surface-muted-dark;
    position: relative;
    color: $on-background;
    background-color: $white;
    &__header {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        margin-left: -1rem;
        margin-right: -1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: $surface-muted;
    }
    &__title {
        font-size: 0.875rem !important;
        padding: 0;
        margin: 0 1rem 0 0 !important;
        &-default {
            display: inline-block;
            padding: 0.25rem;
            color: $on-error;
            background-color: $error-surface;
            border: 1px solid #fff;
            border-radius: 0.25rem;
        }
    }
    &__action {
        white-space: nowrap;
        margin-right: 0.5rem;
    }
    &--active {
        color: $on-surface;
        background-color: $surface-lightest;
        border-color: $surface-medium;
        .lt-list-group__header {
            background-color: $surface-light;
        }
    }
    &--inactive {
        .lt-list-group__header {
            background-color: $surface-muted;
        }
    }
    &--hidden {
        color: $on-surface-muted;
        background-color: $surface-muted;
        border-color: $surface-muted;
        .lt-list-group__header {
            background-color: $surface-muted;
        }
    }
}

ul.lt-list-group__action {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
}