.lt-list-group {
    padding-left: 1rem;
    padding-right: 1rem;
}

.lt-list-group__header {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.lt-list-group__title {
    font-size: 0.875rem !important;
    padding: 0;
    margin: 0 1rem 0 0 !important;
}

.lt-list-group__action {
    white-space: nowrap;
    margin-right: 0.5rem;
    
}
