.lt-menu {
    @extend .elevation-2;
    position: relative;
    background-color: #fff;
    border: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }
.lt-menu-overflow {
    position: relative;
    &--expand {
        position: absolute;
        top: 2rem;
        right: 0.5rem;
        font-size: .875rem;
        line-height: 20px;
        /*transform: translate3d(0px, 30px, 0px);*/
        min-width: 10rem;
        z-index: 1000;
        display: block;
        color: #212529;
        text-align: left;
        list-style: none;
        background-clip: padding-box;
        /*padding: .5rem 0;
        margin: .125rem 0 0;
    */
    }
    &--bootstrap {
        position: absolute;
        font-size: .875rem;
        line-height: 20px;
        min-width: 10rem;
        z-index: 1000;
        display: none;
        color: #212529;
        text-align: left;
        list-style: none;
        background-clip: padding-box;
        padding: 0;
        margin: 0;
    }
    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 8px;
        vertical-align: 0.175rem;
        border-top: 0.375rem solid;
        border-right: 0.375rem solid transparent;
        border-bottom: 0;
        border-left: 0.375rem solid transparent;
    }
}

.lt-menu .lt-list-item:hover,
.lt-menu .lt-list-item:focus-within {
    background-color: #e5e5e5;
}

.lt-menu .lt-list-item__link {
    margin-right: 0;
    color: #000000;
}

.lt-menu .lt-list-item__link:hover {
    background-color: #e5e5e5;
}

.lt-menu-form {
    align-items: start;
    height: auto;
    padding-top: 0.325rem;
    &__label {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: 1.5;
        margin: 0 0 0.25rem 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &__input-text {
        width: 15rem;
    }
    &__button-group {
        padding: 0.5rem 0;
        display: flex !important;
        justify-content: flex-end !important;
        border-bottom: 1px solid #ddd;
    }
}
