.nav-dashboard {
    display: flex;
    padding: 0.5rem 0;
    margin: 0;
    border: 0;
    background-color: $primary-light;
}

.nav-dashboard__h1 {
    padding: 0;
    margin: 0;
    background-color: transparent;
    white-space: nowrap;
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap!important;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 10rem;
    max-width: 70rem;
}

.nav-dashboard__h1 .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.lt-dashboard_actions {
    display: flex !important;
    justify-content: flex-end !important;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
}

.lt-breadcrumb {
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav-dashboard__h1 .breadcrumb-item a {
    color: $on-background;
    padding: 0.25rem;
}

.nav-dashboard__h1 .breadcrumb-item a:hover {
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: $primary-medium;
}