// From Bootstrap:
//     .btn
//


.overflow-toggle {
    @extend .btn;
    width: 2.25rem;
    height: 2.25rem;
    background-color: transparent;
    color: $gray-ltds-900;
    border-radius: 50%;
    margin-left: auto;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
  border: 1px solid transparent;
}

.overflow-toggle:hover {
  background-color: #ccc;
  border: 1px solid transparent;
  cursor: pointer;
}


.overflow-toggle:focus {
  background-color: #ccc;
  border: 1px solid #999;
  cursor: pointer;
  box-shadow: none;
}