footer {
    background-color: #fafafa;
    padding-top: 2rem;
    padding-bottom: 4rem;
    .footer__logo {
        display: block;
        width: 25rem;
        margin: 3rem auto;
        @extend .img-fluid;
    }
}

