main {
    padding-top: 4.125rem;
}

.main {
    &--homepage {
        padding-top: 0;
    }
    &--project, &--activity {
        position: absolute;
        top: 4rem;
        bottom: 0;
        padding-top: 0;
        width: 100%;
        z-index: 2;
    }
}
