%section--homepage {
    padding: 4rem 0;
    border-top: 1px solid $gray-ltds-300;
    @extend .container;
    @include media-breakpoint-up(lg) {
        border-top: none;
    }
}


/* --- Section: Hero --- */
.section--hero {
    background-image: linear-gradient(rgba(65, 81, 108, 0.2), rgba(65, 81, 108, 0.2)), url("/media/img/lt-hero.jpg");
    height: 25rem;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #333;
    @include media-breakpoint-up(sm) {
        height: 35rem;
    }
    @include media-breakpoint-up(md) {
        height: 42rem;
    }
}

.hero-text {
    top: 50%;
    left: 10%;
    // transform: translate(-5%, -40%);
    text-align: center;
    position: absolute;
    @include media-breakpoint-up(sm) {
        width: auto;
        top: 16.25rem;
        left: 0;
        //transform: translate(-50%, -55%);
    }
    @include media-breakpoint-up(md) {
        width: auto;
        top: 16.25rem;
        left: 0;
        //transform: translate(-33%, -55%);
    }
    @include media-breakpoint-up(lg) {
        width: 40rem;
        top: 16.25rem;
        left: 0;
        //transform: translate(-50%, -55%);
    }
    @include media-breakpoint-up(xl) {
        width: 49rem;
        top: 15.25rem;
        left: 0;
        //transform: translate(-50%, -55%);
    }
    h1 {
        font-weight: 600;
        font-size: 2rem;
        @include media-breakpoint-up(sm) {
            font-size: 2.5rem;
        }
        @include media-breakpoint-up(md) {
            font-size: 3rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 3rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 3.25rem;
        }
    }
    p {
        font-weight: 400;
        font-size: 1.2rem;
        @include media-breakpoint-up(sm) {
            font-size: 1.625rem;
        }
        @include media-breakpoint-up(md) {
            font-size: 1.625rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 1.875rem;
        }
    }
}

.hero-shadow {
    position: absolute;
    width: 100%;
    height: 16rem;
    top: 15rem;
    left: 0;
    background-color: $white;
    opacity: 0.3;
}


.temp-marker {
    position: absolute;
    bottom: 0;
    left: 0;
}

.section--pitch,
.section--invitation {
    @extend %section--homepage;
    h2 {
        text-align: center;
        font-size: 2.125rem;
        margin-bottom: 1rem;
    }
    p {
        text-align: center;
        font-size: 1.25rem;
    }
}

.section--feature {
    @extend %section--homepage;
    @extend .row;
    margin: auto;
    h2 {
        text-align: center;
        font-size: 2.125rem;
        margin-bottom: 1rem;
        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }
    p {
        text-align: center;
        font-size: 1.25rem;
        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }
    img {
        width: 100%;
        border: 1px solid #ddd;
    }
    .image-placeholder {
        height: 30rem;
        border: 1px solid #ddd;
        background-color: #eee;
        @include media-breakpoint-up(sm) {
            height: 30rem;
        }
        @include media-breakpoint-up(md) {
            height: 30rem;
        }
        @include media-breakpoint-up(lg) {
            height: 20rem;
        }
    }
}

.lt-pane-section {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    &__description {
        border-bottom: 1px solid #ccc;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__title {
        font-size: 0.875rem !important;
        padding: 0;
        margin: 0 1rem 0 0 !important;
    }
    &__action {
        white-space: nowrap;
        margin-right: 0.5rem;
    }
    &__image {
        display: block;
        margin: 0.5rem 0 1rem 0;
    }
    &__image img {
        width: 100%;
    }
}
