.page-container {
    padding: 1rem;
    margin: 0 0 5rem 0;
}

.signupbox {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0;
    border: 0;
    background-color: transparent;
    @include media-breakpoint-up(sm) {
        margin: 1rem auto 0 auto;
    }
    @include media-breakpoint-up(md) {
        margin: 3rem auto 0 auto;
    }
    @include media-breakpoint-up(lg) {
        width: 55rem;
    }
}