.lt-button {
    @extend .btn;
    @include button-typography;
    // @include button-color
    background-color: #f0f0f0;
    padding-right: 1rem;
    padding-left: 1rem;
    &__icon {
        margin-right: 8px;
    }
    &__icon > * {
        height: auto !important;
        width: auto !important;
    }
    &__text {
        padding: 0;
        margin: 0;
    }
    &--transparent {
        background-color: transparent;
        border: 1px solid transparent;
    }
}

.lt-button-back {
    @extend .btn;
    @include button-alt-typography;
    // @include button-color
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    &__icon {
        margin-right: 8px;
        width: 1rem;
        height: 1rem;
        padding: 0;
        line-height: 1;
        display: inline-block;
    }
    &__icon > * {
        height: 1rem !important;
        width: auto !important;
    }
    &__text {
        padding: 0;
        margin: 0;
    }
}

.lt-icon-button {
    @extend .btn;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    outline: none;
    background-color: #f0f0f0;
    border: 1px solid transparent;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    &__icon {
        display: inline-block;
        margin: 0 auto;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
    }
    &__icon > * {
        height: 100% !important;
        width: auto !important;
    }
    &--transparent {
        background-color: transparent;
        border: 1px solid transparent;
    }
}

.lt-button-pane-toggle {
    @extend .btn;
    width: 2.5rem;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 1.25rem;
    color: #666;
    background-color: #ffffff;
    border: 0;
    border-left: 1px solid #ddd;
    border-radius: 0 0.25rem 0.25rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    @include media-breakpoint-up(lg) {
        display: inline-block;
        flex-direction: row;
        width: 2.5rem;
        height: 3.25rem;
        padding: 0;
        margin: 0;
        line-height: 1;
        font-size: 1.25rem;
        color: #666;
        background-color: #f8f5f4;
        border: 0;
        border-left: 1px solid #ddd;
        border-radius: 0 0.25rem 0.25rem 0;
        /* offset-x | offset-y | blur-radius | color */
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    }
    &__icon {
        display: inline-block;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        margin-left: 0.75rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
            @include media-breakpoint-up(lg) {
                margin: 0 auto;
            }
    }
}

.lt-button-pane-toggle:hover {
    color: #000;
    background-color: #e0e0e0;
}

.lt-button-pane-toggle:focus {
    color: #000;
    background-color: #e0e0e0;
    border-right: 1px solid #3399ff;
    border-bottom: 1px solid #3399ff;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 1px 3px 4px rgba(51, 153, 255, 0.5);
}


.lt-button-group {
    &__action {
        white-space: nowrap;
    }
}


.lt-file-button-upload {
    cursor: pointer;
    display: block;
}

.lt-file-button-upload::-webkit-file-upload-button {
    @include button-typography;
    color: #212529;
    // @include button-color
    background-color: #f0f0f0;
    padding: 0.375rem 1rem 0.375rem 2.25rem;
  transition: 1s;
    background-image: url('/media/img/upload.svg');
        background-repeat: no-repeat;
        background-position: 0.5rem center;
        background-size: 1.25rem;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}

.lt-file-button-upload::file-selector-button {
    @include button-typography;
    color: #212529;
    // @include button-color
    background-color: #f0f0f0;
    padding: 0.375rem 1rem 0.375rem 2.25rem;
  transition: 1s;
    background-image: url('/media/img/upload.svg');
        background-repeat: no-repeat;
        background-position: 0.5rem center;
        background-size: 1.25rem;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}


/* Log in/out button */

%user-auth {
    color: $white;
    font-size: $font-size-base;
    text-transform: none !important;
}

%user-auth-homepage {
    font-size: 1.25rem;
    text-transform: none !important;
    transition: all 0.4s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
}

.header--homepage .user-nav .lt-button__text {
    font-size: 1.25rem;
    text-transform: none !important;
    transition: all 0.4s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
}

.header--homepage .user-nav .dropdown-toggle .lt-icons {
    width: 1.75rem;
    height: 1.75rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
}

.header--homepage.shrink .user-nav .lt-button__text,
.user-nav .lt-button__text {
    color: $white;
    font-size: $font-size-base;
    text-transform: none !important;
}
.header--homepage.shrink .user-nav .dropdown-toggle .lt-icons,
.lt-icons {
    width: 1.25rem;
    height: 1.25rem;
}

.user-nav__icon {
    -webkit-filter: $ffffff;
    filter: $ffffff;
}

.user-nav .dropdown-toggle::after {
    border-top-color: #fff !important;
}

.lt-layout-toggle .lt-button:disabled {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; /* IE8 and lower */
}