.lt-button {
    @extend .btn;
    @include button-typography;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.575rem 0.875rem;
    border-radius: 0.25rem;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    color: $secondary1-dark;
    @include media-breakpoint-up(md) {
        padding: 0.75rem 1rem;
    }
    &--priority {
        @include button-darkbg-typography;
        background-color: $secondary1-dark;
        border: 1px solid $secondary1-dark;
        &:hover {
            @include button-darkbg-typography;
            background-color: $secondary2-dark;
            border: 1px solid $secondary2-dark;
        }
        &:focus {
            @include button-darkbg-typography;
            background-color: $secondary2-dark;
            border: 1px solid $secondary2-dark;
            box-shadow: $focus-box-shadow-secondary;
        }
    }
    &--solid {
        @include button-lightbg-typography;
        background-color: $secondary1-medium;
        border: 1px solid $secondary1-medium;
        &:hover {
            @include button-mediumbg-typography;
            background-color: $secondary2-medium;
            border: 1px solid $secondary2-medium;
        }
        &:focus {
            @include button-mediumbg-typography;
            background-color: $secondary2-medium;
            border: 1px solid $secondary2-medium;
            box-shadow: $focus-box-shadow-secondary;
        }
    }
    &--priority-outlined {
        @include button-lightbg-typography;
        background-color: transparent;
        border: 1px solid $secondary1-dark;
        &:hover {
            @include button-darkbg-typography;
            background-color: $secondary1-dark;
            border: 1px solid $secondary1-dark;
        }
    }
    &--outlined {
        background-color: transparent;
        border: 1px solid $secondary1-dark;
        color: $secondary1-dark;
        &:hover {
            @include button-lightbg-typography;
            background-color: $secondary1-medium;
            border: 1px solid $secondary1-medium;
        }
    }
    &--lg {
        min-width: 3rem;
        padding: 1rem;
        @include media-breakpoint-up(sm) {
            min-width: 9rem;
            padding: 1.5rem;
        }
    }
    &--caution {
        color: $on-error;
        &:hover,
        &:focus {
            color: $on-error;
            background-color: $error-surface-alt;
        }
    }
    &--muted {
        color: $on-muted;
        &:hover,
        &:focus {
            color: $on-muted;
            background-color: $muted-surface;
        }
    }
    &__icon {
        margin-left: -0.25rem;
        margin-right: 0.5rem;
    }
    &__icon > * {
        height: auto !important;
        width: auto !important;
    }
    &__label {
        padding: 0;
        margin: 0;
        border: 0;
    }
}

.lt-button--caution {
    color: $on-error;
     .lt-icons,
     .lt-icons:hover {
        filter: $error-svg !important;
        -webkit-filter: $error-svg !important;
        -moz-filter: $error-svg !important;
    }
    &.lt-button--priority {
        @include button-darkbg-typography;
        border-color: $on-error;
        background-color: $on-error;
         .lt-icons {
            filter: $white-svg;
            -webkit-filter: $white-svg;
            -moz-filter: $white-svg;
        }
    }
    &.lt-button--solid {
        color: $on-error !important;
        border-color: $error-surface;
        background-color: $error-surface;
    }
}

.lt-button--muted {
    color: $on-muted;
     .lt-icons,
     .lt-icons:hover {
        filter: $muted-svg !important;
        -webkit-filter: $muted-svg !important;
        -moz-filter: $muted-svg !important;
    }
    &.lt-button--solid {
        color: $on-muted !important;
        border-color: $muted-surface;
        background-color: $muted-surface;
         .lt-icons {
            filter: $muted-svg;
            -webkit-filter: $muted-svg;
            -moz-filter: $muted-svg;
        }
    }
}

.lt-pane-actions .lt-button {
    padding: 0.75rem 1rem;
}

.lt-icon-button {
    @extend .btn;
    width: 2.25rem;
    height: 2.25rem;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 0;
    outline: none;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    &__icon {
        display: inline-block;
        margin: 0 auto;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
    }
    &__icon > * {
        height: 100% !important;
        width: auto !important;
    }
    &--solid {
        background-color: #efefef;
        border: 1px solid #efefef;
    }
    &--outlined {
        background-color: transparent;
        border: 1px solid #efefef;
    }
}


.lt-button-back {
    @extend .btn;
    @include button-alt-typography;
    // @include button-color
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    text-align: left;
    overflow: hidden;
    &__icon {
        margin-right: 8px;
        width: 1rem;
        height: 1rem;
        padding: 0;
        line-height: 1;
        display: inline-block;
    }
    &__icon > * {
        height: 1rem !important;
        width: auto !important;
    }
    &__clip {
        display: inline-flex;
        max-width: calc(100% - 3rem);
        min-width: 10rem;
        @include media-breakpoint-up(sm) {
            max-width: 30rem;
        }
        @include media-breakpoint-up(md) {
            max-width: 40rem;
        }
        @include media-breakpoint-up(lg) {
            max-width: 25rem;
        }
    }
    &__text {
        display: block;
        padding: 0;
        margin: 0;
        text-align: left;
        width: 100%;
        max-height: 1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}


.lt-button-pane-toggle {
    @extend .btn;
    width: 1.5rem;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 1.25rem;
    color: #666;
    background-color: #ffffff;
    border: 0;
    border-left: 1px solid #ddd;
    border-radius: 0 0.25rem 0.25rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    @include media-breakpoint-up(md) {
        width: 2.5rem;
    }
    @include media-breakpoint-up(lg) {
        display: inline-block;
        flex-direction: row;
        width: 2.5rem;
        height: 3.25rem;
        padding: 0;
        margin: 0;
        line-height: 1;
        font-size: 1.25rem;
        color: #666;
        background-color: #f8f5f4;
        border: 0;
        border-left: 1px solid #ddd;
        border-radius: 0 0.25rem 0.25rem 0;
        /* offset-x | offset-y | blur-radius | color */
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    }
    &__icon {
        display: inline-block;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        margin-left: 0.375rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
            @include media-breakpoint-up(md) {
                margin-left: 0.75rem;
            }
            @include media-breakpoint-up(lg) {
                margin: 0 auto;
            }
    }
}

.lt-button-pane-toggle:hover {
    color: #000;
    background-color: #e0e0e0;
}

.lt-button-pane-toggle:focus {
    color: #000;
    background-color: #e0e0e0;
    border-right: 1px solid #3399ff;
    border-bottom: 1px solid #3399ff;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 1px 3px 4px rgba(51, 153, 255, 0.5);
}


.lt-button-group {
    &__action {
        white-space: nowrap;
    }
}


.lt-file-button-upload {
    cursor: pointer;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lt-file-button-upload::-webkit-file-upload-button {
    @extend .btn;
    @include button-typography;
    @include button-lightbg-typography;
    background-color: $secondary1-medium;
    border: 1px solid $secondary1-medium;
    padding: 0.75rem 1rem 0.75rem 2.25rem;
    transition: 1s;
    background-image: url('/media/img/upload.svg');
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    background-size: 1.25rem;
    cursor: pointer;
}

.lt-file-button-upload::file-selector-button {
    @extend .btn;
    @include button-typography;
    @include button-lightbg-typography;
    background-color: $secondary1-medium;
    border: 1px solid $secondary1-medium;
    padding: 0.75rem 1rem 0.75rem 2.25rem;
    transition: 1s;
    background-image: url('/media/img/upload.svg');
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    background-size: 1.25rem;
    cursor: pointer;
}


/* Log-in/dropdown menu toggle/log-out button on page header*/

%user-auth {
    color: $white;
    font-size: $font-size-base;
    text-transform: none !important;
}

%user-auth-homepage {
    font-size: 1.25rem;
    text-transform: none !important;
    transition: all 0.4s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
}

.user-nav {
    &__icon {
        -webkit-filter: $white-svg;
        filter: $white-svg;
    }
    .lt-button {
        padding: 0.375rem 0.75rem;
        @include media-breakpoint-up(sm) {
            padding: 0.75rem 1rem;
        }
        &:hover {
            background-color: $blue-800;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($gray-050, 0.6);
            background-color: $blue-800;
        }
    }
    .lt-button__label {
        color: $white;
        text-transform: none !important;
        font-size: $font-size-base;
    }
    .lt-button__avatar {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0;
        @include media-breakpoint-up(sm) {
            width: 1.25rem;
            height: 1.25rem;
            margin-right: 0.5rem;
        }
    }
    .dropdown-toggle::after {
        border-top-color: $white !important;
    }
}


.header--homepage .user-nav {
    .lt-button {
        margin-top: 1.25rem;
        @include media-breakpoint-up(sm) {
            margin-top: 0;
        }
    }
    .lt-button__label {
        font-size: 1rem;
        transition: all 0.4s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        @include media-breakpoint-up(sm) {
            font-size: 1.25rem;
        }
    }
    .dropdown-toggle .lt-button__avatar {
        width: 1.75rem;
        height: 1.75rem;
        transition: all 0.4s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
    }
}

.header--homepage.shrink .user-nav {
    .lt-button {
        margin-top: 0;
    }
    .lt-button__label {
        font-size: $font-size-base;
    }
    .dropdown-toggle .lt-icons {
        width: 1.5rem;
        height: 1.5rem;
        @include media-breakpoint-up(sm) {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}


// nav-dashboard grid, list, manage buttons

.nav-dashboard {
    .lt-button {
        padding: 0.375rem 1rem;
        border-radius: 0.25rem;
    }
}

.lt-layout-toggle .lt-button.active {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; /* IE8 and lower */
    background-color: $primary-medium;
}

.color-btn {
    border-radius: 3rem;
    border: 2px solid transparent;
    &--amber {
        background-color: $amber-400;
    }
    &--blue {
        background-color: $blue-500;
    }
    &--green {
        background-color: $green-400;
    }
    &--red {
        background-color: $red-400;
    }
    &--purple {
        background-color: $purple-400;
    }
    &--cyan {
        background-color: $cyan-400;
    }
    &--pink {
        background-color: $pink-400;
    }
    &--lime {
        background-color: $lime-600;
    }
    &--orange {
        background-color: $orange-600;
    }
}

.color-btn input[type="radio"] {
    visibility: hidden;
}

.color-btn:hover {
    opacity: 0.7;
    border: 2px solid #ffffff;
}