{% extends 'base.html' %}

{% block title %}LTI Landing Page{% endblock %}

{% block usernav %}
{% endblock %}

{% block content %}
<section class="section--hero">
    <div class="hero-text" style="top: 2rem">
        <h1>A mapping application for spatial and temporal thinking</h1>
        <p>Visualize. Analyze. Collaborate.</p>
        <a class="btn btn-secondary btn-lg" href="{{landing_url}}" target="_blank">Launch Locus Tempus</a>
    </div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}
