{% extends "base.html" %}

{% block title %}Forbidden{% endblock %}

{% block content %}
<div class="http-error-prompt row">
    <div class="col-12 col-lg-5 pt-5">
        <div class="http-error-prompt__decor text-center">
            <img src="{{STATIC_URL}}img/prompt-403.svg" alt="Banner for HTTP 403 Forbidden" />
        </div>
    </div>
    <div class="col-12 col-lg-7 text-center text-lg-left">
        <h2>Error 403: Forbidden</h2>

        <p>
          We're sorry. The page you're looking for is not available.
        </p>

        <p>
            <a href="/"
                title="Return to Locus Tempus home"
                class="lt-button lt-button--lg lt-button--priority mt-3 mr-3">
                <span class='lt-button__label'>Return home</span>
            </a>

            <a href="mailto:ctl-dev@columbia.edu"
                title="Send email to ctl-dev@columbia.edu"
                class="lt-button lt-button--lg lt-button--solid mt-3">
                <span class='lt-button__label'>Report problem</span>
            </a>
        </p>

    </div>
</div>
{% endblock %}
