<!DOCTYPE html>

<html lang="en">
    <head>
	    <title>Design System – Locus Tempus</title>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Local CSS -->
        <link href="{{STATIC_URL}}build/main.css" rel="stylesheet">
        {% block css %}{% endblock %}

        <!-- Standard Meta Data, TBD -->

        <!-- Dublin Core Metadata, TBD -->

        <!-- Open Graph, TBD -->

        <!-- Twitter, TBD -->
        <meta name="twitter:image" content="{{STATIC_URL}}img/favicon.png" />

        <!-- JSON Structured data, TBD -->

        <!-- Favicons, TBD -->
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
        <link rel="icon" href="{{STATIC_URL}}img/favicon.ico">
        <link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">

        <meta id="csrf-token" name="csrf-token" content="{{csrf_token}}">

    </head>
    <body class="{% block bodyclass %}{% endblock %}">

    {% block topnavbar %}
    <header class="header--default">
        <a class="skip-header" href="#content">
            <span class="skip-header__text">Skip to main content</span>
        </a>
        <div class="header__shadow"></div>
        <nav class="navbar py-0 pl-0">
            <a href="/" class="navbar-brand py-0"><img class="header__logo" src="{{STATIC_URL}}img/lt-logo-bgdark.svg" alt="Locus Tempus logo"></a>
            {% block usernav %}
                {% if request.user.is_anonymous %}
                <a href="/accounts/login/?next=/" class="user-auth--login">Log in</a>
                {% else %}
                <a href="/accounts/logout/?next=/" class="user-auth--logout">Log out</a>
                {% endif %}
            {% endblock %}
        </nav>
    </header>
    {% endblock %}

    <main class="main--default" id="content">

        {% block content %}{% endblock %}

    </main>

{% block footer %}
<footer>
    <ul class="navlist--footer">
        <li class="nav-item">
            <a href="#">About Locus Tempus</a>
        </li>
        <li class="nav-item">
            <a href="mailto:ctl-locustempus@columbia.edu" title="Send email to ctl-locustempus@columbia.edu">Contact Us</a>
        </li>
    </ul>

    <span itemscope itemtype="http://schema.org/EducationalOrganization"><a href="http://ctl.columbia.edu" rel="noopener noreferrer" target="_blank" itemprop="url"><img src="{{STATIC_URL}}img/ctl-logo-white.svg" class="footer__logo" alt="" itemprop="logo" /><span class="sr-only" itemprop="name">Center for Teaching and Learning at Columbia University</span></a></span>

</footer>
{% endblock %}

{% include "ctlsettings/sentry_js.html" %}

<script src="{{STATIC_URL}}build/main.js"></script>

{% block js %}{% endblock %}

{% if STAGING_ENV %}
<div class="alert alert-danger alert-dismissable" style="position: fixed; bottom: 0px;">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Warning: Staging Site</h4>
<p>You are viewing a staging version of this site, not the production site.</p>
<p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
</div>
{% endif %}

{% if request.user.is_impersonate %}
<div class="alert alert-danger alert-dismissable" style="position: fixed; left: 0px; top: 75px">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
You are impersonating.<br />
<a class="btn" href="{% url 'impersonate-stop' %}">stop</a>
</div>
{% endif %}

{% if GA_CODE %}
 <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id={{GA_CODE}}"></script>
 <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', '{{GA_CODE}}', { 'anonymize_ip': true });
 </script>
{% endif %}
</body>
</html>
