
<!DOCTYPE html>

<html lang="en">
    <head>
	    <title>{% block title %}{% endblock %}{{ flatpage.title }} – Locus Tempus</title>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="theme-color" content="#bbdefb">

        <!-- Local CSS -->
        <link href="{{STATIC_URL}}build/main.css" rel="stylesheet">
        {% block css %}{% endblock %}

        <!-- Standard Meta Data, TBD -->
        <meta name="description" content="Locus Tempus is an open-source digital mapping tool that leverages a geospatial environment to engage students as repository builders, researchers and curators, that promotes spatial and temporal thinking across disciplines within a course context." />
        <meta name="keywords" content="teaching, learning, education, mapping, geospatial, spatial thinking" />
        <meta name="author" content="Center for Teaching and Learning at Columbia University" />
        <meta name="copyright" content="Copyright (c) 2021 Center for Teaching and Learning at Columbia University - Code licensed GNU GPLv3">

        <!-- Dublin Core Metadata, TBD -->
        <meta name="DC.Title" content="Locus Tempus: A mapping application for spatial and temporal thinking in classrooms." />
        <meta name="DC.Description" content="Locus Tempus is an open-source digital mapping tool that leverages a geospatial environment to engage students as repository builders, researchers and curators, that promotes spatial and temporal thinking across disciplines within a course context." />
        <meta name="DC.Rights" content="Copyright (c) 2021 Center for Teaching and Learning at Columbia University - Code licensed GNU GPLv3">
        <meta name="DC.Publisher" content="Center for Teaching and Learning at Columbia University" />
        <meta name="DC.Contributor" content="Center for Teaching and Learning at Columbia University" />

        <!-- Open Graph -->
        <meta property="og:title" content="Locus Tempus: A mapping application for spatial and temporal thinking in classrooms." />
        <meta property="og:type" content="website" />
        {% block urldescription %}
        <meta property="og:url" content="https://locustempus.ctl.columbia.edu" />
        <meta property="og:description" content="Locus Tempus is an open-source digital mapping tool that leverages a geospatial environment to engage students as repository builders, researchers and curators, that promotes spatial and temporal thinking across disciplines within a course context." />
        {% endblock %}
        <meta property="og:site_name" content="Locus Tempus" />
        {% if page_type == "homepage" %}
            <meta name="og:image" content="{{STATIC_URL}}img/lt-og-1200.png" />
            <meta name="og:image:alt" content="A poster image for Locus Tempus, containing the app logo, its title, a brief description, and web address." />
        {% else %}
            <meta name="og:image" content="{{STATIC_URL}}img/lt-apple-touch-icon.png" />
            <meta name="og:image:alt" content="An avatar image for Locus Tempus, containing the app logo." />
        {% endif %}

        <!-- Twitter, TBD -->
        {% if page_type == "homepage" %}
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:image" content="{{STATIC_URL}}img/lt-og-1200.png" />
            <meta name="twitter:image:alt" content="A poster image for Locus Tempus, containing the app logo, its title, a brief description, and web address." />
        {% else %}
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:image" content="{{STATIC_URL}}img/lt-apple-touch-icon.png" />
            <meta name="twitter:image:alt" content="An avatar image for Locus Tempus, containing the app logo." />
        {% endif %}
        <meta name="twitter:site" content="@columbiactl" />
        <meta name="twitter:title" content="Locus Tempus: A mapping application for spatial and temporal thinking in classrooms." />
        <meta name="twitter:description" content="Locus Tempus is an open-source digital mapping tool that leverages a geospatial environment to engage students as repository builders, researchers and curators, that promotes spatial and temporal thinking across disciplines within a course context." />

        <!-- JSON Structured data, TBD -->
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "SoftwareApplication",
                "url": "https://locustempus.ctl.columbia.edu",
                "name": "Locus Tempus: A mapping application for spatial and temporal thinking in classrooms.",
                "about": "Locus Tempus is an open-source digital mapping tool that leverages a geospatial environment to engage students as repository builders, researchers and curators, that promotes spatial and temporal thinking across disciplines within a course context.",
                "keywords": "teaching, learning, education, mapping, geospatial, spatial thinking",
                "image": "{{STATIC_URL}}img/lt-og-1200.png"
            }
        </script>

        <!-- Favicons, TBD -->
        <link rel="apple-touch-icon" href="{{STATIC_URL}}img/lt-apple-touch-icon.png">
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
        <link rel="icon" href="{{STATIC_URL}}img/favicon.ico">
        <link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">

        {% include "ctlsettings/sentry_js.html" %}

        <meta id="csrf-token" name="csrf-token" content="{{csrf_token}}">
        <script src="{{STATIC_URL}}s3sign/js/s3upload.js"></script>

        <script>
            window.LocusTempus = {
                staticUrl: '{{ STATIC_URL }}',
                baseUrl: '//{{ request.get_host }}',
                {% if not request.user.is_anonymous %}
                currentUser: {
                    id: '{{ request.user.id }}',
                },
                {% endif %}
            }
        </script>

        <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
        <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
    </head>
    <body class="{{ page_type }}">

    {% block topnavbar %}
    <header class="header--{% if page_type %}{{ page_type }}{% else %}default{% endif %}">
        <a class="skip-header" href="#content">
            <span class="skip-header__text">Skip to main content</span>
        </a>
        <div class="header__shadow"></div>
        <nav class="navbar py-0 pl-0">
            <a href="/" class="navbar-brand py-0" data-cy="app-logo"><img class="header__logo" src="{{STATIC_URL}}img/lt-logo-bgdark.svg" alt="Locus Tempus logo"></a>
            {% block usernav %}
            <div class="user-nav">
                {% if request.user.is_anonymous %}
                <a href="/accounts/login/?next=/" class="lt-button d-none d-sm-inline-flex" data-cy="sign-in-small">
                    <span class='lt-icons lt-button__icon d-none d-sm-inline-block' aria-hidden="true"><img src="{{STATIC_URL}}img/icon-signin.svg" alt="" class="user-nav__icon" /></span>
                    <span class='lt-button__label'>Sign in</span>
                </a>
                {% else %}
                <div class="lt-menu-overflow btn-group">
                    <button type="button" class="lt-button dropdown-toggle" data-cy="authenticated-user-choices" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" aria-label="User menu">
                        <span class='lt-icons lt-button__icon lt-button__avatar' aria-hidden="true"><img src="{{STATIC_URL}}img/icon-user.svg" alt="" class="user-nav__icon" /></span>
                        <span class="lt-button__label d-none d-sm-inline-block">
                        {% if request.user.first_name %}
                          Hello, {{ request.user.first_name }}!
                        {% else %}
                          Hello, {{ request.user.username }}!
                        {% endif %}
                        </span>
                    </button>
                    <div class="lt-menu lt-menu-overflow--bootstrap dropdown-menu dropdown-menu-right dropdown-menu-md-left">
                        <ul class="lt-list">
                            <li class="lt-list-item--greeting">
                                <span class="lt-list-item__primary-text">
                                    {% if request.user.first_name %}
                                      Hello, {{ request.user.first_name }}!
                                    {% else %}
                                      Hello, {{ request.user.username }}!
                                    {% endif %}
                                </span>
                            </li>
                            <li class="lt-list-item">
                                <a href="{% url 'course-list-view' %}" class="d-flex align-items-center justify-content-start lt-list-item__link"
                                    data-cy="your-workspaces">
                                <span class='lt-icons lt-list-item__icon' aria-hidden="true"><img src="{{STATIC_URL}}img/icon-grid.svg" alt="" /></span>
                                <span class="lt-list-item__primary-text">Your Workspaces</span>
                                </a>
                            </li>
                            <li class="lt-list-item">
                                <a href="{% url 'profile-view' %}" class="d-flex align-items-center justify-content-start lt-list-item__link">
                                <span class='lt-icons lt-list-item__icon' aria-hidden="true"><img src="{{STATIC_URL}}img/icon-user-edit.svg" alt="" /></span>
                                <span class="lt-list-item__primary-text">Edit Your Profile</span>
                                </a>
                            </li>
                            <li class="lt-list-item">
                                <a href="/guides/" class="d-flex align-items-center justify-content-start lt-list-item__link">
                                <span class='lt-icons lt-list-item__icon' aria-hidden="true"><img src="{{STATIC_URL}}img/icon-question-circle.svg" alt="" /></span>
                                <span class="lt-list-item__primary-text">Get Help</span>
                                </a>
                            </li>
                            {% if request.user.is_superuser %}
                            <li class="lt-list-item">
                                <a href="{% url 'impersonate-search' %}" class="d-flex align-items-center justify-content-start lt-list-item__link">
                                <span class='lt-icons lt-list-item__icon' aria-hidden="true"><img src="{{STATIC_URL}}img/icon-impersonate.svg" alt="" /></span>
                                <span class="lt-list-item__primary-text">Impersonate</span>
                                </a>
                            </li>
                            {% endif %}
                            <li class="lt-list-item lt-list-item--caution border-top">
                                <a href="/accounts/logout/?next=/" class="d-flex align-items-center justify-content-start lt-list-item__link"
                                    data-cy="sign-out">
                                <span class='lt-icons lt-list-item__icon' aria-hidden="true"><img src="{{STATIC_URL}}img/icon-sign-out.svg" alt="" /></span>
                                <span class="lt-list-item__primary-text"><b>Sign out</b></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endblock %}
        </nav>
    </header>
    {% endblock %}

    <main class="main--{% if page_type %}{{ page_type }}{% else %}default{% endif %}" id="content">

        {% comment %}Confirmation message box{% endcomment %}
        {% block messages %}
            {% if messages %}
            <div class="lt-alert lt-alert--top alert alert-dismissible fade show" role="status">
                <div class="lt-alert__text">
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
                            {{ message|safe }}
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                            {{ message|safe }}
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            {{ message|safe }}
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            {{ message|safe }}
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            {{ message|safe }}
                        {% else %} {# for any other message type passed in #}
                            {{ message|safe }}
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="close lt-icon-button" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        {% endblock %}

<!-- Dashboard breadcrumb and navigation bar -->        
        {% if breadcrumb %}
        <div class="nav-dashboard">
            <div class="lt-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb nav-dashboard__h1">
                        {% for title, path in breadcrumb.items %}
                            {% if path == '' %}
                                <li data-cy="breadcrumb-{{forloop.counter}}" class="breadcrumb-item">{{ title }}</li>
                            {% else %}
                                <li data-cy="breadcrumb-{{forloop.counter}}" class="breadcrumb-item"><a href="{{ path }}">{{ title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
            </div>
            {% block page_actions %}{% endblock %}
        </div>
        {% endif %}
<!-- End Dashboard breadcrumb and navigation bar -->        

<!-- Begin content block -->
        {% block content %}{% endblock %}
<!-- End content block -->

    </main>

{% block footer %}
<footer>
    <ul class="navlist--footer">
        <li class="nav-item">
            <a href="/about/">About Locus Tempus</a>
        </li>
        <li class="nav-item">
            <a href="/guides/" title="Get Help">Get Help</a>
        </li>
        <li class="nav-item">
            <a href="/contact/" title="Contact us">Contact Us</a>
        </li>
    </ul>
    
    <p class="lt-license">Locus Tempus open-source code is on <a itemprop="license" rel="license noopener noreferrer" href="https://github.com/ccnmtl/locustempus">Github</a> with <a itemprop="license" rel="license noopener noreferrer" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPLv3</a> license.</p>


    <div itemscope itemtype="http://schema.org/EducationalOrganization" class='text-center'><a href="http://ctl.columbia.edu" rel="noopener noreferrer" target="_blank" itemprop="url" class='d-inline-block'><img src="{{STATIC_URL}}img/ctl-logo-color.svg" class="footer__logo" alt="" itemprop="logo" /><span class="sr-only" itemprop="name">Center for Teaching and Learning at Columbia University</span></a></div>
</footer>
{% endblock %}

<script src="{{STATIC_URL}}build/main.js"></script>

{% block js %}{% endblock %}

{% if STAGING_ENV %}
<div class="alert alert-danger alert-dismissable" style="position: fixed; bottom: 0px;">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Warning: Staging Site</h4>
<p>You are viewing a staging version of this site, not the production site.</p>
<p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
</div>
{% endif %}

{% if request.user.is_impersonate %}
<div class="alert alert-danger lt-impersonate">
    You are impersonating.
    <a href="{% url 'impersonate-stop' %}" class="lt-button lt-button--priority">
        <span class='lt-button__label'>Stop</span>
    </a>
</div>
{% endif %}

{% if GA_CODE %}
 <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id={{GA_CODE}}"></script>
 <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', '{{GA_CODE}}', { 'anonymize_ip': true });
 </script>
{% endif %}
</body>
</html>
