%heading {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

h1 {
    @extend %heading;
  @include font-size($h1-font-size);
}

h2 {
@extend %heading;
  @include font-size($h2-font-size);
}

h3 {
@extend %heading;
  @include font-size($h3-font-size);
}

h4 {
@extend %heading;
  @include font-size($h4-font-size);
}

h5 {
@extend %heading;
  @include font-size($h5-font-size);
}

h6 {
@extend %heading;
  @include font-size($h6-font-size);
}

.widget-pane h1 {
@extend %heading;
  @include font-size($font-size-base * 1.75);
}

.widget-pane h2 {
@extend %heading;
  @include font-size($font-size-base * 1.5);
}

.widget-pane h3 {
@extend %heading;
  @include font-size($font-size-base * 1.375);
}

.widget-pane h4 {
@extend %heading;
  @include font-size($font-size-base * 1.25);
}
