%heading {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    color: $heading-color;
}

h1 {
    @extend %heading;
  @include font-size($h1-font-size);
}

h2 {
@extend %heading;
  @include font-size($h2-font-size);
}

h3 {
@extend %heading;
  @include font-size($h3-font-size);
}

h4 {
@extend %heading;
  @include font-size($h4-font-size);
}

h5 {
@extend %heading;
  @include font-size($h5-font-size);
}

h6 {
@extend %heading;
  @include font-size($h6-font-size);
}

.widget-pane h1 {
@extend %heading;
  @include font-size($font-size-base * 1.75);
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.widget-pane h2 {
@extend %heading;
  @include font-size($font-size-base * 1.5);
}

.widget-pane h3 {
@extend %heading;
  @include font-size($font-size-base * 1.375);
}

.widget-pane h4 {
@extend %heading;
  @include font-size($font-size-base * 1.25);
}

.pane-content-header h2 {
@extend %heading;
  @include font-size($font-size-base);
    font-weight: 600;
    padding: 0;
    margin: 0;
}
