%heading {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    color: $heading-color;
}

h1, .h1 {
    @extend %heading;
    @include font-size($h1-font-size);
}

h2, .h2 {
    @extend %heading;
    @include font-size($h2-font-size);
}

h3 {
    @extend %heading;
    @include font-size($h3-font-size);
}

h4 {
    @extend %heading;
    @include font-size($h4-font-size);
}

h5 {
    @extend %heading;
    @include font-size($h5-font-size);
}

h6 {
    @extend %heading;
    @include font-size($h6-font-size);
}

// Homepage

.section-homepage {
    h2 {
        font-size: 2.125rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1.25rem;
    }
}



// Dashboard

.nav-dashboard__h1 {
    @extend %heading;
  @include font-size($font-size-base * 1.5);
  line-height: 35px;
  padding: 0;
  margin: 0;
}

.lt-card__info-summary > * {
    @include font-size($font-size-base * 0.875);
    color: $on-background;
    line-height: 1.3;
}



.widget-pane h1 {
    @extend %heading;
    @include font-size($font-size-base * 1.25);
    line-height: 1.3;
    padding: 0;
    margin: 0;
    @include media-breakpoint-up(lg) {
        @include font-size($font-size-base * 1.75);
    }
}

.widget-pane h2 {
@extend %heading;
  @include font-size($font-size-base * 1.5);
  margin-top: 0.625rem;
  margin-bottom: 0.75rem;
}

/* .widget-pane section h2 {
@extend %heading;
  @include font-size($font-size-base * 1.375);
} */

.widget-pane h3 {
@extend %heading;
  @include font-size($font-size-base * 1.375);
}

.widget-pane section h3 {
@extend %heading;
  @include font-size($font-size-base * 1.375);
  margin-top: 0.75rem;
}

.widget-pane h4 {
@extend %heading;
  @include font-size($font-size-base * 1.25);
}

.pane-content-header h2 {
@extend %heading;
  @include font-size($font-size-base);
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.pane-content-tabs {
    .nav-link {
        color: $gray-700;
        &.active {
            color: $primary-dark;
        }
    }
}

.mapboxgl-popup-content h2 {
@extend %heading;
  @include font-size($font-size-base * 1.125);
}

.mapboxgl-popup-content .event-attr {
  @include font-size($font-size-base * 0.8125);
  color: $gray-600;
  line-height: 1;
}

.mapboxgl-popup-content .event-summary > * {
  @include font-size($font-size-base * 0.8125);
  color: $on-background;
  line-height: 1.3;
}

// Button

@mixin button-typography {
    font-family: $font-family-base;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 100%;
    text-transform: uppercase;
}

@mixin button-alt-typography {
@extend %heading;
  @include font-size($font-size-base);
    font-weight: 600;
    text-transform: none;
}

@mixin button-darkbg-typography {
    color: $white !important;
}

@mixin button-lightbg-typography {
    color: $green-900 !important;
}

@mixin button-mediumbg-typography {
    color: $black !important;
}

.lt-button--lg {
    .lt-button__label {
        text-transform: none;
        font-weight: 400;
        font-size: 1.125rem;
        @include media-breakpoint-up(sm) {
            font-size: 1.375rem;
        }
        @include media-breakpoint-up(md) {
            font-size: 1.625rem;
        }
    }
}

.lt-pane-actions .lt-button {
    .lt-button__label {
        font-size: 0.875rem;
        @include media-breakpoint-up(sm) {
            font-size: 0.875rem;
        }
        @include media-breakpoint-up(md) {
            font-size: 1rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 1rem;
        }
    }
}


// List


@mixin list-typography {
    font-family: $font-family-base;
    font-weight: 400;
    /*font-size: 1rem;*/
    line-height: 1.5rem;
    text-transform: uppercase;
    text-decoration: inherit;
    text-transform: inherit;
}

@mixin list-layer-typography {
    font-size: 0.875rem;
}

// Prompt

.create-prompt__alert {
@extend %heading;
  @include font-size($font-size-base * 1.75);
}

.create-prompt__instructions {
  @include font-size($font-size-base * 1.5);
}

.lt-date-display {
    display: block;
    margin: 0.25rem 0 0.5rem 0;
    padding: 0;
    line-height: 1.4;
    font-size: 0.8125rem;
    font-weight: 400;
}

figcaption {
  @include font-size($font-size-base * 0.875);
  color: $on-background;
  line-height: 1.3;
    .img__attr {
    @include font-size($font-size-base * 0.75);
        color: $gray-500;
    }
}

.lt-pane-section .event-attr {
  @include font-size($font-size-base);
  color: $gray-600;
  font-weight: 500;
}

#cu-privacy-notice {
    font-family: $heading-font-family !important;
    font-size: ($font-size-base * 0.875) !important;
    color: $white !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    -webkit-font-smoothing: antialiased !important;
    moz-osx-font-smoothing: grayscale !important;
}

.lt-license {
    font-size: ($font-size-base * 0.875);
}

.filter-criteria-display {
    font-size: 0.875rem;
    align-self: center !important;
    padding: 0.25rem 1.5rem 0.25rem 1.5rem;
}