.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    background: linear-gradient(45deg,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    box-shadow: -2px 2px 2px 0 rgba(0,0,0,.2);
    content: "";
    height: 1rem !important;
    width: 1rem !important;
    transform: translate(0%,-50%) rotate(-45deg);
    border: none !important;
}

.mapboxgl-popup-close-button {
    position: absolute;
    right: -10px !important;
    top: -10px !important;
    cursor: pointer;
    background-color: #fff !important;
    border-radius: 50% !important;
    width: 26px !important;
    height: 26px !important;
    box-shadow: 2px 0 2px 0 rgba(0,0,0,.2);
}

.mapboxgl-popup-content {
    @extend .elevation-1;
    padding: 0.75rem !important;
    width: 18rem;
}

.mapboxgl-popup-description {
    max-height: 4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 1rem;
    line-height: 1.3;
}
