#project-map-container {
    height: calc(100vh - 52px);
}

#project-map-title, #project-map-description {
    display: none;
}

#map-navigation-control {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#project-map-sidebar {
    position: relative;
    top: 0;
    left: 0;
    width: 32rem;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 10000;
    padding: 1rem;
    overflow-y: scroll;
}
