.uni-invite-form-group, .invite-add-row {
    margin-bottom: 1em;
}

.uni-invite-input-group {
    margin-bottom: 1em;

    input {
        border-radius: 0.25rem !important;
    }

    button {
        margin-left: 0.5rem;
    }
}

.profile-input-group {
    margin-bottom: 1em;

    input {
        border-radius: 0.25rem !important;
    }

    button {
        margin-left: 0.5rem;
    }
}

.email-invite-form-group, .invite-add-row {
    margin-bottom: 1em;
}

.email-invite-input-group {
    margin-bottom: 1em;

    input {
        border-radius: 0.25rem !important;
    }

    button {
        margin-left: 0.5rem;
    }
} 
